$desktop: screen and (min-width: 1680px);
$laptop: (min-width: 1288px) and (max-width: 1679px);
$tablet: (min-width: 768px) and (max-width: 1287px);
$mobile: screen and (max-width: 767px);

// @media #{$desktop} { CSS-style }

