<svg width="0" height="0" style="position: fixed">
    <defs>
        <g id="social-fb-24">
            <path fill-rule="nonzero"
                  d="M20.897 2H3.103C2.494 2 2 2.494 2 3.103v17.794C2 21.506 2.494 22 3.103 22h9.587v-7.734h-2.604v-3.028h2.604V9.01c0-2.582 1.579-3.99 3.882-3.99.777-.001 1.552.038 2.325.118v2.7H17.31c-1.255 0-1.5.593-1.5 1.469v1.927h3l-.39 3.028h-2.627V22h5.104c.609 0 1.103-.494 1.103-1.103V3.103C22 2.494 21.506 2 20.897 2z"/>
        </g>

        <g id="social-instagram-24">
            <path fill-rule="evenodd"
                  d="M12 2c2.716 0 3.056.012 4.123.06 1.064.049 1.791.218 2.427.465a4.902 4.902 0 0 1 1.772 1.153 4.902 4.902 0 0 1 1.153 1.772c.247.636.416 1.363.465 2.427.048 1.067.06 1.407.06 4.123s-.012 3.056-.06 4.123c-.049 1.064-.218 1.791-.465 2.427a4.902 4.902 0 0 1-1.153 1.772 4.902 4.902 0 0 1-1.772 1.153c-.636.247-1.363.416-2.427.465-1.067.048-1.407.06-4.123.06s-3.056-.012-4.123-.06c-1.064-.049-1.791-.218-2.427-.465a4.902 4.902 0 0 1-1.772-1.153 4.902 4.902 0 0 1-1.153-1.772c-.247-.636-.416-1.363-.465-2.427C2.012 15.056 2 14.716 2 12s.012-3.056.06-4.123c.049-1.064.218-1.791.465-2.427a4.902 4.902 0 0 1 1.153-1.772A4.902 4.902 0 0 1 5.45 2.525c.636-.247 1.363-.416 2.427-.465C8.944 2.012 9.284 2 12 2zm0 4.865a5.135 5.135 0 1 0 0 10.27 5.135 5.135 0 0 0 0-10.27zm0 8.468a3.333 3.333 0 1 1 0-6.666 3.333 3.333 0 0 1 0 6.666zm6.538-8.671a1.2 1.2 0 1 1-2.4 0 1.2 1.2 0 0 1 2.4 0"/>
        </g>

        <g id="social-ok-24">
            <path fill-rule="nonzero"
                  d="M14.185 16.713a11.337 11.337 0 0 0 3.492-1.428 1.727 1.727 0 0 0 .552-2.399 1.775 1.775 0 0 0-2.43-.548 7.722 7.722 0 0 1-8.098 0 1.775 1.775 0 0 0-2.43.548 1.728 1.728 0 0 0 .552 2.399 11.337 11.337 0 0 0 3.492 1.428l-3.358 3.319a1.721 1.721 0 0 0 0 2.458 1.775 1.775 0 0 0 2.49 0l3.305-3.261 3.303 3.261c.69.68 1.803.68 2.491 0a1.721 1.721 0 0 0 0-2.458l-3.361-3.319zM11.752 3.48c1.374 0 2.49 1.102 2.49 2.458 0 1.354-1.116 2.456-2.49 2.456-1.372 0-2.491-1.102-2.491-2.456 0-1.356 1.12-2.458 2.49-2.458zm0 8.391c3.316 0 6.013-2.662 6.013-5.933C17.765 2.662 15.068 0 11.752 0 8.435 0 5.738 2.662 5.738 5.935c0 3.274 2.697 5.936 6.014 5.936z"/>
        </g>

        <g id="social-twitter-24">
            <path fill-rule="nonzero"
                  d="M7.39 21c8.868 0 13.719-7.31 13.719-13.65 0-.208 0-.414-.014-.62A9.783 9.783 0 0 0 23.5 4.247 9.661 9.661 0 0 1 20.73 5a4.818 4.818 0 0 0 2.12-2.653 9.692 9.692 0 0 1-3.061 1.164 4.844 4.844 0 0 0-5.793-.944 4.794 4.794 0 0 0-2.424 5.32 13.711 13.711 0 0 1-9.936-5.013A4.787 4.787 0 0 0 3.128 9.28a4.804 4.804 0 0 1-2.188-.6v.06a4.805 4.805 0 0 0 3.868 4.703c-.71.192-1.454.22-2.177.082a4.824 4.824 0 0 0 4.505 3.332A9.705 9.705 0 0 1 0 18.845a13.7 13.7 0 0 0 7.39 2.151"/>
        </g>

        <g id="social-vk-24">
            <path fill-rule="evenodd"
                  d="M22.647 6.025H20.03c-.66 0-.966.349-1.144.722 0 0-1.347 3.189-3.228 5.257-.61.597-.89.797-1.22.797-.178 0-.406-.2-.406-.748V6.947c0-.648-.204-.947-.763-.947H9.15c-.406 0-.66.299-.66.598 0 .623.94.772 1.042 2.516V12.9c0 .822-.153.972-.483.972-.89 0-3.05-3.214-4.347-6.876C4.448 6.274 4.194 6 3.533 6H.89C.127 6 0 6.349 0 6.722c0 .673.89 4.06 4.143 8.545 2.16 3.064 5.236 4.708 8.007 4.708 1.677 0 1.88-.374 1.88-.996v-2.317c0-.747.153-.872.687-.872.381 0 1.067.2 2.618 1.67 1.78 1.743 2.084 2.54 3.076 2.54h2.618c.762 0 1.118-.374.915-1.096-.23-.723-1.093-1.769-2.212-3.014-.61-.698-1.525-1.47-1.804-1.844-.382-.498-.28-.697 0-1.146-.026 0 3.177-4.434 3.507-5.928.178-.549 0-.947-.788-.947z"/>
        </g>

        <g id="social-youtube-24">
            <path fill-rule="evenodd"
                  d="M23.499 6.654C24 8.55 24 12.5 24 12.5s0 3.951-.501 5.845a3.023 3.023 0 0 1-2.122 2.147C19.505 21 12 21 12 21s-7.505 0-9.377-.508a3.023 3.023 0 0 1-2.121-2.147C0 16.451 0 12.5 0 12.5s0-3.951.502-5.846a3.024 3.024 0 0 1 2.121-2.147C4.495 4 12 4 12 4s7.505 0 9.377.507a3.024 3.024 0 0 1 2.122 2.147zM10 16.004l6.11-3.627L10 8.75v7.255z"/>
        </g>

        <g id="mobile-app">
            <path d="M 608.820312 363.484375 L 587.75 386.515625 L 683.574219 474.359375 C 706.132812 495.113281 718.992188 524.355469 719 555 L 719 937.5 L 750.25 937.5 L 750.25 555 C 750.210938 515.585938 733.679688 478 704.65625 451.324219 Z M 608.820312 363.484375 "
                  style=" fill-rule:nonzero;fill-opacity:1;" stroke="#ea4c88" fill="#ea4c88"/>
            <path d="M 484.625 0 L 78.375 0 C 35.25 0.0546875 0.304688 35 0.25 78.125 L 0.25 859.375 C 0.304688 902.5 35.25 937.445312 78.375 937.5 L 469 937.5 L 469 909.546875 C 468.925781 839.160156 489.761719 770.320312 528.875 711.796875 C 533.015625 705.59375 532.183594 697.339844 526.921875 692.078125 L 417.546875 582.703125 C 407.4375 572.582031 402.078125 558.664062 402.785156 544.378906 C 403.496094 530.085938 410.210938 516.773438 421.265625 507.703125 C 442.558594 491.425781 472.671875 493.75 491.21875 513.089844 L 645.453125 667.328125 L 667.546875 645.234375 L 562.75 540.40625 L 562.75 78.125 C 562.695312 35 527.75 0.0546875 484.625 0 Z M 531.5 509.15625 L 513.3125 490.96875 C 483.335938 460.34375 435.125 457.152344 401.375 483.570312 C 383.523438 498.242188 372.691406 519.78125 371.5625 542.871094 C 370.4375 565.957031 379.109375 588.445312 395.453125 604.796875 L 495.921875 705.269531 C 458.453125 765.648438 438.359375 835.195312 437.859375 906.25 L 78.375 906.25 C 52.492188 906.25 31.5 885.257812 31.5 859.375 L 31.5 812.5 L 422.125 812.5 L 422.125 781.25 L 31.5 781.25 L 31.5 125 L 531.5 125 Z M 531.5 93.75 L 31.5 93.75 L 31.5 78.125 C 31.5 52.242188 52.492188 31.25 78.375 31.25 L 484.625 31.25 C 510.507812 31.25 531.5 52.242188 531.5 78.125 Z M 531.5 93.75 "
                  style=" fill-rule:nonzero;fill-opacity:1;" stroke="#ea4c88" fill="#ea4c88"/>
            <path d="M 94 281.25 L 156.5 281.25 C 173.761719 281.25 187.75 267.261719 187.75 250 L 187.75 187.5 C 187.75 170.238281 173.761719 156.25 156.5 156.25 L 94 156.25 C 76.738281 156.25 62.75 170.238281 62.75 187.5 L 62.75 250 C 62.75 267.261719 76.738281 281.25 94 281.25 Z M 94 187.5 L 156.5 187.5 L 156.5 250 L 94 250 Z M 94 187.5 "
                  style=" fill-rule:nonzero;fill-opacity:1;" stroke="#ea4c88" fill="#ea4c88"/>
            <path d="M 250.25 281.25 L 312.75 281.25 C 330.011719 281.25 344 267.261719 344 250 L 344 187.5 C 344 170.238281 330.011719 156.25 312.75 156.25 L 250.25 156.25 C 232.988281 156.25 219 170.238281 219 187.5 L 219 250 C 219 267.261719 232.988281 281.25 250.25 281.25 Z M 250.25 187.5 L 312.75 187.5 L 312.75 250 L 250.25 250 Z M 250.25 187.5 "
                  style=" fill-rule:nonzero;fill-opacity:1;" stroke="#ea4c88" fill="#ea4c88"/>
            <path d="M 406.5 281.25 L 469 281.25 C 486.261719 281.25 500.25 267.261719 500.25 250 L 500.25 187.5 C 500.25 170.238281 486.261719 156.25 469 156.25 L 406.5 156.25 C 389.238281 156.25 375.25 170.238281 375.25 187.5 L 375.25 250 C 375.25 267.261719 389.238281 281.25 406.5 281.25 Z M 406.5 187.5 L 469 187.5 L 469 250 L 406.5 250 Z M 406.5 187.5 "
                  style=" fill-rule:nonzero;fill-opacity:1;" stroke="#ea4c88" fill="#ea4c88"/>
            <path d="M 94 437.5 L 156.5 437.5 C 173.761719 437.5 187.75 423.511719 187.75 406.25 L 187.75 343.75 C 187.75 326.488281 173.761719 312.5 156.5 312.5 L 94 312.5 C 76.738281 312.5 62.75 326.488281 62.75 343.75 L 62.75 406.25 C 62.75 423.511719 76.738281 437.5 94 437.5 Z M 94 343.75 L 156.5 343.75 L 156.5 406.25 L 94 406.25 Z M 94 343.75 "
                  style=" fill-rule:nonzero;fill-opacity:1;" stroke="#ea4c88" fill="#ea4c88"/>
            <path d="M 94 593.75 L 156.5 593.75 C 173.761719 593.75 187.75 579.761719 187.75 562.5 L 187.75 500 C 187.75 482.738281 173.761719 468.75 156.5 468.75 L 94 468.75 C 76.738281 468.75 62.75 482.738281 62.75 500 L 62.75 562.5 C 62.75 579.761719 76.738281 593.75 94 593.75 Z M 94 500 L 156.5 500 L 156.5 562.5 L 94 562.5 Z M 94 500 "
                  style=" fill-rule:nonzero;fill-opacity:1;" stroke="#ea4c88" fill="#ea4c88"/>
            <path d="M 250.25 437.5 L 312.75 437.5 C 330.011719 437.5 344 423.511719 344 406.25 L 344 343.75 C 344 326.488281 330.011719 312.5 312.75 312.5 L 250.25 312.5 C 232.988281 312.5 219 326.488281 219 343.75 L 219 406.25 C 219 423.511719 232.988281 437.5 250.25 437.5 Z M 250.25 343.75 L 312.75 343.75 L 312.75 406.25 L 250.25 406.25 Z M 250.25 343.75 "
                  style=" fill-rule:nonzero;fill-opacity:1;" stroke="#ea4c88" fill="#ea4c88"/>
            <path d="M 406.5 437.5 L 469 437.5 C 486.261719 437.5 500.25 423.511719 500.25 406.25 L 500.25 343.75 C 500.25 326.488281 486.261719 312.5 469 312.5 L 406.5 312.5 C 389.238281 312.5 375.25 326.488281 375.25 343.75 L 375.25 406.25 C 375.25 423.511719 389.238281 437.5 406.5 437.5 Z M 406.5 343.75 L 469 343.75 L 469 406.25 L 406.5 406.25 Z M 406.5 343.75 "
                  style=" fill-rule:nonzero;fill-opacity:1;" stroke="#ea4c88" fill="#ea4c88"/>
            <path d="M 250.25 593.75 L 312.75 593.75 C 330.011719 593.75 344 579.761719 344 562.5 L 344 500 C 344 482.738281 330.011719 468.75 312.75 468.75 L 250.25 468.75 C 232.988281 468.75 219 482.738281 219 500 L 219 562.5 C 219 579.761719 232.988281 593.75 250.25 593.75 Z M 250.25 500 L 312.75 500 L 312.75 562.5 L 250.25 562.5 Z M 250.25 500 "
                  style=" fill-rule:nonzero;fill-opacity:1;" stroke="#ea4c88" fill="#ea4c88"/>
            <path d="M 94 750 L 156.5 750 C 173.761719 750 187.75 736.011719 187.75 718.75 L 187.75 656.25 C 187.75 638.988281 173.761719 625 156.5 625 L 94 625 C 76.738281 625 62.75 638.988281 62.75 656.25 L 62.75 718.75 C 62.75 736.011719 76.738281 750 94 750 Z M 94 656.25 L 156.5 656.25 L 156.5 718.75 L 94 718.75 Z M 94 656.25 "
                  style=" fill-rule:nonzero;fill-opacity:1;" stroke="#ea4c88" fill="#ea4c88"/>
            <path d="M 250.25 750 L 312.75 750 C 330.011719 750 344 736.011719 344 718.75 L 344 656.25 C 344 638.988281 330.011719 625 312.75 625 L 250.25 625 C 232.988281 625 219 638.988281 219 656.25 L 219 718.75 C 219 736.011719 232.988281 750 250.25 750 Z M 250.25 656.25 L 312.75 656.25 L 312.75 718.75 L 250.25 718.75 Z M 250.25 656.25 "
                  style=" fill-rule:nonzero;fill-opacity:1;" stroke="#ea4c88" fill="#ea4c88"/>
            <path d="M 265.875 843.75 L 297.125 843.75 L 297.125 875 L 265.875 875 Z M 265.875 843.75 "
                  style=" fill-rule:nonzero;fill-opacity:1;" stroke="#ea4c88" fill="#ea4c88"/>
        </g>

        <g id="shopping-bag">
            <path d="M440.1,422.7l-28-315.3c-0.6-7-6.5-12.3-13.4-12.3h-57.6C340.3,42.5,297.3,0,244.5,0s-95.8,42.5-96.6,95.1H90.3   c-7,0-12.8,5.3-13.4,12.3l-28,315.3c0,0.4-0.1,0.8-0.1,1.2c0,35.9,32.9,65.1,73.4,65.1h244.6c40.5,0,73.4-29.2,73.4-65.1   C440.2,423.5,440.2,423.1,440.1,422.7z M244.5,27c37.9,0,68.8,30.4,69.6,68.1H174.9C175.7,57.4,206.6,27,244.5,27z M366.8,462   H122.2c-25.4,0-46-16.8-46.4-37.5l26.8-302.3h45.2v41c0,7.5,6,13.5,13.5,13.5s13.5-6,13.5-13.5v-41h139.3v41   c0,7.5,6,13.5,13.5,13.5s13.5-6,13.5-13.5v-41h45.2l26.9,302.3C412.8,445.2,392.1,462,366.8,462z"
                  fill="#ea4c88"/>
        </g>

        <g id="money">
            <path d="M85.072,454.931c-1.859-1.861-4.439-2.93-7.069-2.93s-5.21,1.069-7.07,2.93c-1.86,1.861-2.93,4.44-2.93,7.07    s1.069,5.21,2.93,7.069c1.86,1.86,4.44,2.931,7.07,2.931s5.21-1.07,7.069-2.931c1.86-1.859,2.931-4.439,2.931-7.069    S86.933,456.791,85.072,454.931z"
                  fill="#ea4c88"/>
            <path d="M469.524,182.938c-1.86-1.861-4.43-2.93-7.07-2.93c-2.63,0-5.21,1.069-7.07,2.93c-1.859,1.86-2.93,4.44-2.93,7.07    s1.07,5.21,2.93,7.069c1.86,1.86,4.44,2.931,7.07,2.931c2.64,0,5.21-1.07,7.07-2.931c1.869-1.859,2.939-4.439,2.939-7.069    S471.393,184.798,469.524,182.938z"
                  fill="#ea4c88"/>
            <path d="M509.065,2.929C507.189,1.054,504.645,0,501.992,0L255.998,0.013c-5.522,0-9.999,4.478-9.999,10V38.61l-94.789,25.399    c-5.335,1.43-8.501,6.913-7.071,12.247l49.127,183.342l-42.499,42.499c-5.409-7.898-14.491-13.092-24.764-13.092H30.006    c-16.542,0-29.999,13.458-29.999,29.999v162.996C0.007,498.542,13.464,512,30.006,512h95.998c14.053,0,25.875-9.716,29.115-22.78    l11.89,10.369c9.179,8.004,20.939,12.412,33.118,12.412h301.867c5.522,0,10-4.478,10-10V10    C511.992,7.348,510.94,4.804,509.065,2.929z M136.002,482.001c0,5.513-4.486,10-10,10H30.005c-5.514,0-10-4.486-10-10V319.005    c0-5.514,4.486-10,10-10h37.999V424.2c0,5.522,4.478,10,10,10s10-4.478,10-10V309.005h37.999c5.514,0,10,4.486,10,10V482.001z     M166.045,80.739l79.954-21.424V96.37l-6.702,1.796c-2.563,0.687-4.746,2.362-6.072,4.659s-1.686,5.026-0.999,7.588    c3.843,14.341-4.698,29.134-19.039,32.977c-2.565,0.688-4.752,2.366-6.077,4.668c-1.325,2.301-1.682,5.035-0.989,7.599    l38.979,144.338h-20.07l-10.343-40.464c-0.329-1.288-0.905-2.475-1.676-3.507L166.045,80.739z M245.999,142.229v84.381    l-18.239-67.535C235.379,155.141,241.614,149.255,245.999,142.229z M389.663,492H200.125V492c-7.345,0-14.438-2.658-19.974-7.485    l-24.149-21.061V325.147l43.658-43.658l7.918,30.98c1.132,4.427,5.119,7.523,9.688,7.523l196.604,0.012c7.72,0,14,6.28,14,14    c0,7.72-6.28,14-14,14H313.13c-5.522,0-10,4.478-10,10c0,5.522,4.478,10,10,10h132.04c7.72,0,14,6.28,14,14c0,7.72-6.28,14-14,14    H313.13c-5.522,0-10,4.478-10,10c0,5.522,4.478,10,10,10h110.643c7.72,0,14,6.28,14,14c0,7.72-6.28,14-14,14H313.13    c-5.522,0-10,4.478-10,10c0,5.522,4.478,10,10,10h76.533c7.72,0,14,6.28,14,14C403.662,485.72,397.382,492,389.663,492z     M491.994,492h-0.001h-71.359c1.939-4.273,3.028-9.01,3.028-14s-1.089-9.727-3.028-14h3.139c18.747,0,33.999-15.252,33.999-33.999    c0-5.468-1.305-10.635-3.609-15.217c14.396-3.954,25.005-17.149,25.005-32.782c0-7.584-2.498-14.595-6.711-20.255V235.007    c0-5.522-4.478-10-10-10c-5.522,0-10,4.478-10,10v113.792c-2.35-0.515-4.787-0.795-7.289-0.795h-0.328    c1.939-4.273,3.028-9.01,3.028-14c0-18.748-15.252-33.999-33.999-33.999h-16.075c17.069-7.32,29.057-24.286,29.057-44.005    c0-26.389-21.468-47.858-47.857-47.858c-26.388,0-47.857,21.469-47.857,47.858c0,19.719,11.989,36.685,29.057,44.005h-54.663    V109.863c17.864-3.893,31.96-17.988,35.852-35.853h75.221c3.892,17.865,17.988,31.96,35.852,35.853v31.09c0,5.522,4.478,10,10,10    s10-4.478,10-10v-40.018c0-5.522-4.478-10-10-10c-14.847,0-26.924-12.079-26.924-26.925c0-5.522-4.478-10-10-10h-93.076    c-5.522,0-10,4.478-10,10c0,14.847-12.078,26.925-26.924,26.925c-5.522,0-10,4.478-10,10v199.069H266V20.011L491.994,20V492z     M378.996,283.858c-15.361,0-27.857-12.497-27.857-27.857s12.497-27.858,27.857-27.858S406.853,240.64,406.853,256    S394.357,283.858,378.996,283.858z"
                  fill="#ea4c88"/>
        </g>

        <g id="check">
            <path d="m10.527344 0h147.257812c5.539063 0 10.027344 4.488281 10.027344 10.027344 0 5.535156-4.488281 10.023437-10.027344 10.023437h-137.230468v456.933594l20.179687-21.144531c3.941406-4.15625 10.558594-4.175782 14.511719-.019532l30.226562 31.667969 30.210938-31.648437c3.9375-4.15625 10.554687-4.175782 14.507812-.019532l30.230469 31.667969 30.207031-31.648437c3.941406-4.15625 10.554688-4.175782 14.511719-.019532l30.226563 31.667969 30.207031-31.648437c3.941406-4.15625 10.558593-4.175782 14.511719-.019532l30.226562 31.667969 30.210938-31.648437c3.941406-4.15625 10.554687-4.175782 14.507812-.019532l20.203125 21.164063v-456.933594h-137.238281c-5.535156 0-10.027344-4.488281-10.027344-10.023437 0-5.539063 4.492188-10.027344 10.027344-10.027344h147.261718c5.535157 0 10.023438 4.488281 10.023438 10.027344v491.945312c0 5.539063-4.488281 10.027344-10.023438 10.027344-3.113281 0-5.894531-1.417969-7.734374-3.644531l-29.742188-31.160157-30.226562 31.671876c-3.953126 4.15625-10.570313 4.136718-14.507813-.019532l-30.210937-31.652344-30.226563 31.671876c-3.953125 4.15625-10.570313 4.136718-14.511719-.019532l-30.207031-31.652344-30.226563 31.671876c-3.953124 4.15625-10.570312 4.136718-14.511718-.019532l-30.207032-31.652344-30.226562 31.671876c-3.953125 4.15625-10.570312 4.136718-14.511719-.019532l-30.207031-31.652344-30.226562 31.671876c-3.808594 4-10.140626 4.160156-14.140626.351562-2.066406-1.964844-3.105468-4.601562-3.105468-7.246094l-.027344-491.945312c0-5.539063 4.488281-10.027344 10.027344-10.027344zm187.363281 0c-5.535156 0-10.027344 4.488281-10.027344 10.027344 0 5.535156 4.492188 10.023437 10.027344 10.023437 5.539063 0 10.023437-4.488281 10.023437-10.023437 0-5.539063-4.484374-10.027344-10.023437-10.027344zm-147.054687 334.917969h294.113281c5.535156 0 10.023437-4.488281 10.023437-10.027344 0-5.535156-4.488281-10.023437-10.023437-10.023437h-294.113281c-5.539063 0-10.027344 4.488281-10.027344 10.023437 0 5.539063 4.488281 10.027344 10.027344 10.027344zm126.671874 52.074219h167.441407c5.535156 0 10.023437-4.488282 10.023437-10.027344 0-5.535156-4.488281-10.023438-10.023437-10.023438h-167.441407c-5.535156 0-10.027343 4.488282-10.027343 10.023438 0 5.539062 4.492187 10.027344 10.027343 10.027344zm2.074219-249.546876h35.730469c5.539062 0 10.027344-4.488281 10.027344-10.023437 0-5.539063-4.488282-10.027344-10.027344-10.027344h-35.730469c-5.535156 0-10.027343 4.488281-10.027343 10.027344 0 5.535156 4.492187 10.023437 10.027343 10.023437zm0 104.152344h35.730469c5.539062 0 10.027344-4.492187 10.027344-10.027344 0-5.539062-4.488282-10.027343-10.027344-10.027343h-35.730469c-5.535156 0-10.027343 4.488281-10.027343 10.027343 0 5.535157 4.492187 10.027344 10.027343 10.027344zm0-52.074218h35.730469c5.539062 0 10.027344-4.492188 10.027344-10.027344s-4.488282-10.027344-10.027344-10.027344h-35.730469c-5.535156 0-10.027343 4.492188-10.027343 10.027344s4.492187 10.027344 10.027343 10.027344zm-128.746093-52.078126h89.222656c5.535156 0 10.027344-4.488281 10.027344-10.023437 0-5.539063-4.492188-10.027344-10.027344-10.027344h-89.222656c-5.539063 0-10.027344 4.488281-10.027344 10.027344 0 5.535156 4.488281 10.023437 10.027344 10.023437zm0 104.152344h89.222656c5.535156 0 10.027344-4.492187 10.027344-10.027344 0-5.539062-4.492188-10.027343-10.027344-10.027343h-89.222656c-5.539063 0-10.027344 4.488281-10.027344 10.027343 0 5.535157 4.488281 10.027344 10.027344 10.027344zm0-52.074218h89.222656c5.535156 0 10.027344-4.492188 10.027344-10.027344s-4.492188-10.027344-10.027344-10.027344h-89.222656c-5.539063 0-10.027344 4.492188-10.027344 10.027344s4.488281 10.027344 10.027344 10.027344zm290.757812-43.390626c0-11.980468-4.859375-22.828124-12.710938-30.679687-5.589843-5.589844-12.699218-9.664063-20.652343-11.542969v-12.75c0-5.539062-4.488281-10.027344-10.027344-10.027344-5.535156 0-10.023437 4.488282-10.023437 10.027344v12.75c-7.953126 1.882813-15.0625 5.953125-20.652344 11.542969-7.851563 7.851563-12.710938 18.699219-12.710938 30.679687 0 11.980469 4.859375 22.828126 12.710938 30.679688 7.851562 7.851562 18.699218 12.710938 30.679687 12.710938 6.445313 0 12.277344 2.609374 16.5 6.832031 4.222657 4.222656 6.835938 10.058593 6.835938 16.503906s-2.613281 12.277344-6.835938 16.5c-4.222656 4.222656-10.054687 6.835937-16.5 6.835937-6.445312 0-12.28125-2.613281-16.503906-6.835937-4.222656-4.21875-6.835937-10.054687-6.835937-16.5 0-5.539063-4.484376-10.027344-10.023438-10.027344s-10.027344 4.488281-10.027344 10.027344c0 11.980469 4.859375 22.828125 12.710938 30.679687 5.589844 5.589844 12.699218 9.660157 20.652344 11.542969v12.75c0 5.539063 4.488281 10.027344 10.027343 10.027344 5.535157 0 10.023438-4.488281 10.023438-10.027344v-12.753906c7.957031-1.878906 15.066406-5.949219 20.652343-11.542969 7.851563-7.851562 12.710938-18.699218 12.710938-30.679687s-4.859375-22.828125-12.710938-30.679688c-7.851562-7.851562-18.699218-12.707031-30.679687-12.707031-6.441406 0-12.277344-2.613281-16.5-6.835938-4.222656-4.222656-6.835937-10.054687-6.835937-16.5 0-6.445312 2.613281-12.28125 6.835937-16.5 4.222656-4.222656 10.058594-6.835937 16.5-6.835937 6.445313 0 12.28125 2.613281 16.503906 6.835937 4.222657 4.21875 6.832031 10.054688 6.832031 16.5 0 5.539063 4.492188 10.027344 10.027344 10.027344 5.539063 0 10.027344-4.488281 10.027344-10.027344zm0 0"
                  fill-rule="evenodd" fill="#ea4c88"/>
        </g>

        <g id="bag">
            <path d="M330.171,304.892c-2.914-7.204-7.204-13.649-12.729-19.174c-5.525-5.525-11.97-9.805-19.164-12.729    c-6.952-2.823-14.277-4.25-21.785-4.25h-0.081c-6.344,0-12.608,1.032-18.608,3.066c-6.152,2.085-11.859,5.171-16.979,9.158    c-5.12-3.987-10.827-7.073-16.979-9.158c-6-2.034-12.264-3.066-18.608-3.066h-0.081c-7.508,0-14.834,1.427-21.786,4.25    c-7.194,2.924-13.64,7.204-19.164,12.729c-5.525,5.525-9.815,11.97-12.729,19.175c-2.823,6.961-4.26,14.297-4.249,21.816    c0,6.293,1.012,12.497,3.005,18.446c2.044,6.112,5.08,11.798,9.016,16.908c1.447,1.872,3.643,2.955,6.01,2.955    c1.69,0,3.289-0.546,4.634-1.578c3.309-2.56,3.926-7.336,1.376-10.645c-2.904-3.764-5.14-7.953-6.648-12.456    c-1.467-4.391-2.216-8.975-2.216-13.629c0.01-11.434,4.462-22.18,12.536-30.265c8.075-8.075,18.821-12.527,30.255-12.527    c11.434,0,22.18,4.452,30.264,12.527c1.437,1.437,3.339,2.226,5.363,2.226s3.936-0.79,5.363-2.226    c8.085-8.075,18.831-12.527,30.265-12.527c11.434,0,22.18,4.452,30.254,12.527c8.075,8.085,12.527,18.831,12.537,30.265    c-0.01,10.058-3.552,19.822-9.987,27.482c-0.799,0.951-1.649,1.882-2.55,2.772l-65.882,65.892l-49.045-49.046    c-1.437-1.437-3.339-2.226-5.363-2.226c-2.034,0-3.936,0.789-5.373,2.226c-1.427,1.427-2.216,3.339-2.216,5.363    c0,2.024,0.779,3.926,2.216,5.353c0,0.01,0,0.01,0,0.01l54.418,54.418c1.407,1.406,3.36,2.216,5.363,2.216s3.956-0.81,5.363-2.216    l71.255-71.256c1.184-1.184,2.337-2.438,3.43-3.744c8.743-10.402,13.549-23.627,13.549-37.246    C334.421,319.19,332.994,311.854,330.171,304.892z"
                  fill="#fad1e1"/>
            <path d="M465.953,473.807c-0.002-0.068,0.002-0.134-0.002-0.202L445.72,129.574c-0.002-0.045-0.011-0.089-0.015-0.134    c-0.004-0.057-0.004-0.114-0.01-0.171c-0.008-0.085-0.025-0.168-0.036-0.253c-0.014-0.111-0.029-0.221-0.048-0.33    c-0.009-0.051-0.015-0.102-0.026-0.152c-0.017-0.088-0.041-0.172-0.062-0.259c-0.026-0.109-0.05-0.218-0.081-0.325    c-0.013-0.046-0.025-0.091-0.039-0.137c-0.025-0.082-0.055-0.161-0.082-0.241c-0.038-0.112-0.075-0.223-0.118-0.333    c-0.017-0.043-0.033-0.086-0.051-0.129c-0.029-0.07-0.063-0.137-0.094-0.205c-0.053-0.118-0.105-0.236-0.164-0.35    c-0.02-0.039-0.04-0.078-0.061-0.117c-0.03-0.055-0.063-0.108-0.094-0.162c-0.073-0.128-0.146-0.255-0.225-0.378    c-0.021-0.032-0.042-0.064-0.063-0.096c-0.027-0.041-0.057-0.078-0.085-0.118c-0.098-0.141-0.198-0.279-0.304-0.412    c-0.018-0.023-0.036-0.045-0.054-0.068c-0.021-0.026-0.045-0.049-0.067-0.075c-0.128-0.153-0.262-0.301-0.402-0.443    c-0.01-0.011-0.019-0.023-0.03-0.034c-0.016-0.016-0.034-0.029-0.05-0.045c-0.152-0.15-0.31-0.294-0.474-0.431    c-0.009-0.007-0.017-0.014-0.026-0.022c-0.023-0.019-0.047-0.038-0.071-0.056c-0.161-0.13-0.326-0.252-0.497-0.368    c-0.004-0.003-0.009-0.006-0.013-0.009c-0.007-0.005-0.015-0.01-0.023-0.015c-0.025-0.017-0.05-0.034-0.075-0.05    c-0.187-0.122-0.379-0.236-0.578-0.341c-0.019-0.01-0.039-0.02-0.058-0.031c-0.204-0.106-0.412-0.203-0.625-0.29    c-0.013-0.005-0.025-0.011-0.038-0.016c-0.215-0.087-0.434-0.164-0.658-0.23c-0.012-0.003-0.025-0.007-0.036-0.011    c-0.196-0.057-0.395-0.107-0.597-0.149c-0.015-0.003-0.03-0.005-0.044-0.008c-0.004-0.001-0.009-0.002-0.013-0.003    c-0.027-0.005-0.054-0.011-0.082-0.016c-0.191-0.036-0.384-0.064-0.579-0.085c-0.023-0.002-0.045-0.006-0.068-0.008    c-0.046-0.005-0.093-0.006-0.14-0.01c-0.163-0.013-0.325-0.022-0.49-0.024c-0.051-0.001-0.102-0.005-0.154-0.005H334.424V63.241    C334.424,28.37,306.054,0,271.183,0c-25.762,0-47.96,15.492-57.808,37.642c-21.162,10.238-35.792,31.925-35.792,56.967v27.825    h-73.354c-0.251,0-0.502,0.013-0.752,0.038c-0.11,0.011-0.218,0.032-0.327,0.047c-0.136,0.019-0.272,0.036-0.407,0.062    c-0.126,0.025-0.25,0.06-0.373,0.091c-0.116,0.029-0.232,0.055-0.346,0.089c-0.123,0.037-0.242,0.083-0.362,0.126    c-0.113,0.04-0.227,0.078-0.339,0.124c-0.113,0.047-0.221,0.102-0.331,0.154c-0.114,0.054-0.229,0.105-0.341,0.165    c-0.107,0.057-0.209,0.123-0.313,0.185c-0.108,0.065-0.218,0.125-0.323,0.196c-0.117,0.078-0.226,0.164-0.338,0.248    c-0.086,0.065-0.175,0.125-0.259,0.194c-0.194,0.159-0.381,0.327-0.558,0.505l-30.356,30.355c-0.048,0.048-0.088,0.1-0.135,0.149    c-0.101,0.106-0.2,0.214-0.294,0.325c-0.071,0.083-0.137,0.168-0.204,0.254c-0.082,0.106-0.161,0.213-0.237,0.323    c-0.066,0.095-0.129,0.191-0.191,0.288c-0.067,0.107-0.13,0.215-0.192,0.326c-0.058,0.103-0.115,0.208-0.167,0.313    c-0.055,0.111-0.107,0.223-0.157,0.337c-0.047,0.108-0.094,0.216-0.136,0.327c-0.045,0.116-0.084,0.234-0.124,0.353    c-0.037,0.112-0.074,0.224-0.105,0.338c-0.033,0.119-0.061,0.239-0.088,0.36c-0.027,0.119-0.053,0.237-0.074,0.356    c-0.02,0.117-0.036,0.236-0.051,0.355c-0.016,0.126-0.031,0.253-0.041,0.379c-0.003,0.046-0.012,0.092-0.015,0.138L46.054,503.965    c-0.123,2.086,0.62,4.131,2.054,5.652S51.539,512,53.629,512h374.394c0.249,0,0.499-0.013,0.748-0.038    c0.115-0.011,0.225-0.033,0.338-0.049c0.132-0.019,0.265-0.035,0.397-0.061c0.127-0.025,0.25-0.06,0.375-0.091    c0.115-0.029,0.23-0.054,0.344-0.089c0.123-0.037,0.241-0.083,0.36-0.126c0.114-0.041,0.229-0.078,0.341-0.125    c0.112-0.046,0.219-0.101,0.328-0.153c0.116-0.054,0.232-0.105,0.345-0.166c0.104-0.055,0.203-0.119,0.303-0.179    c0.112-0.067,0.225-0.13,0.335-0.203c0.108-0.073,0.21-0.154,0.315-0.231c0.094-0.07,0.191-0.136,0.282-0.211    c0.174-0.142,0.339-0.294,0.5-0.451c0.018-0.018,0.038-0.033,0.056-0.051l30.351-30.359c0.05-0.05,0.092-0.105,0.141-0.156    c0.092-0.097,0.182-0.196,0.269-0.297c0.081-0.094,0.158-0.19,0.233-0.287c0.074-0.096,0.146-0.193,0.215-0.293    c0.075-0.108,0.147-0.217,0.216-0.327c0.061-0.097,0.119-0.196,0.175-0.296c0.064-0.115,0.126-0.23,0.184-0.348    c0.052-0.105,0.101-0.211,0.148-0.319c0.05-0.115,0.099-0.23,0.143-0.347c0.045-0.116,0.085-0.234,0.124-0.353    c0.037-0.113,0.071-0.226,0.102-0.34c0.034-0.125,0.064-0.251,0.092-0.378c0.025-0.114,0.047-0.228,0.067-0.343    c0.022-0.126,0.04-0.253,0.055-0.382c0.015-0.123,0.026-0.245,0.035-0.369c0.008-0.12,0.014-0.24,0.017-0.361    C465.96,474.083,465.958,473.945,465.953,473.807z M419.82,137.612l-15.178,15.179H304.065v-15.179H419.82z M271.183,15.178    c26.502,0,48.063,21.561,48.063,48.063v59.193h-15.181V94.609c0-34.871-28.37-63.241-63.241-63.241    c-1.961,0-3.898,0.103-5.814,0.278C243.827,21.564,256.77,15.178,271.183,15.178z M223.12,63.241c0-4.899,0.741-9.627,2.11-14.084    c4.894-1.684,10.137-2.612,15.595-2.612c26.502,0,48.063,21.561,48.063,48.063v27.825H223.12V63.241z M288.888,137.612v15.179    h-96.126v-15.179H288.888z M192.761,94.609c0-13.85,5.896-26.343,15.302-35.122c-0.073,1.243-0.121,2.493-0.121,3.754v59.193    h-15.181V94.609z M107.369,137.612h70.213v15.179H92.19L107.369,137.612z M424.88,496.822H61.678l19.346-328.854h96.559v43.004    c0,4.191,3.398,7.589,7.589,7.589c4.191,0,7.589-3.398,7.589-7.589v-43.004h96.126v43.004c0,4.191,3.398,7.589,7.589,7.589    c4.191,0,7.589-3.398,7.589-7.589v-43.004h96.564l18.034,306.533c0.246,4.184,3.831,7.369,8.021,7.13    c4.184-0.246,7.377-3.838,7.13-8.022l-18.253-310.274l15.999-15.998l19.039,323.759L424.88,496.822z"
                  fill="#fad1e1"/>
        </g>

        <g id="phone">
            <path d="M128.936,475.234c11.465,5.557,28.142,2.821,37.236-6.11l389.242-376.36c9.084-8.951,6.32-18.159-6.188-20.607   L412.77,45.438c-12.518-2.448-30.228,2.592-39.58,11.265L6.019,391.706c-9.343,8.664-7.621,20.196,3.854,25.771L128.936,475.234z    M100.458,425.902c-8.874,8.481-20.531,10.69-26.039,4.934c-5.498-5.757-2.773-17.299,6.101-25.78   c8.874-8.491,20.521-10.7,26.039-4.943C112.058,405.859,109.333,417.41,100.458,425.902z M415.744,85.41   c0.573-2.572,3.041-4.198,5.709-3.634l38.947,8.625c2.582,0.574,4.198,3.127,3.634,5.709c-0.497,2.228-2.477,3.749-4.666,3.749   c-0.335,0-0.679-0.038-1.033-0.115l-38.947-8.625C416.805,90.545,415.179,87.992,415.744,85.41z M352.631,95.824l144.288,32.426   L193.951,420.862L67.602,359.069L352.631,95.824z"
                  fill="#ea4c88"/>
            <path d="M575.036,118.927l-8.549-19.307c-1.186,1.816-2.64,3.595-4.36,5.288L172.827,481.326   c-7.42,7.296-18.838,11.676-30.466,11.676c-6.331,0-12.422-1.329-17.595-3.825L5.704,431.4c-0.258-0.134-0.469-0.315-0.717-0.449   l2.419,8.405c2.639,9.189,11.848,19.833,20.55,23.782l116.041,65.168c8.702,3.939,21.429,1.846,28.419-4.666l391.393-375.644   C570.79,141.484,575.82,128.451,575.036,118.927z"
                  fill="#ea4c88"/>
            <path d="M339.501,149.641c-0.277,2.19,1.281,2.726,4.771,1.635c5.709-1.788,12.412-2.888,17.395-3.653   c3.528-0.545,9.267-1.243,12.757-2.286c4.121-1.233,8.099-3.213,10.948-5.689c6.904-6.015,7.698-12.125,0.191-14.707   c-2.954-1.004-7.659-0.765-11.972,0.469c-3.5,1.013-4.37,0.717-4.218-1.444c0.163-2.658-1.491-5.078-4.446-6.101   c-7.487-2.572-17.231,0.478-24.126,6.493c-2.84,2.477-4.36,5.298-4.59,7.86c-0.211,2.18,1.128,5.307,1.769,7.277   C338.89,142.288,339.96,146.055,339.501,149.641z"
                  fill="#ea4c88"/>
            <path d="M301.558,197.836c0.697,0.201,1.597,0.201,2.313,0l32.952-9.094c2.2-0.603,2.64-1.492,0.995-2.018l-36.472-11.198   c-1.664-0.516-2.907,0.153-2.773,1.482l1.798,19.718C300.411,197.205,300.84,197.616,301.558,197.836z"
                  fill="#ea4c88"/>
            <path d="M272.077,198.324l22.587-6.331l-1.225-13.541c-0.124-1.329-1.396-1.301-2.878,0.067l-19.842,18.465   C269.265,198.343,269.877,198.955,272.077,198.324z"
                  fill="#ea4c88"/>
            <path d="M271.312,203.469l36.184,11.121c1.664,0.507,2.907-0.163,2.793-1.492l-1.1-13.56l-4.982,1.377   c-2.324,0.641-4.456,0.593-6.062,0.096c-1.588-0.498-2.754-1.454-2.907-2.869l-0.277-3.069l-22.663,6.369   C270.087,202.053,269.657,202.962,271.312,203.469z"
                  fill="#ea4c88"/>
            <path d="M318.283,211.587l19.564-18.216c1.473-1.368,0.88-1.97-1.329-1.368l-22.194,6.12l1.1,13.521   C315.547,212.964,316.82,212.945,318.283,211.587z"
                  fill="#ea4c88"/>
            <path d="M209.442,259.763l30.753,11.102c2.553,0.918,6.569,0.038,8.96-1.999l17.337-14.621c2.4-2.037,2.266-4.409-0.277-5.327   l-18.465-6.665l0.488-0.42l0.057-0.048c2.534-2.142,2.41-4.647-0.296-5.632l-7.172-2.592c-2.687-0.965-6.914-0.019-9.429,2.114   l-22.242,18.761C206.755,256.464,206.898,258.835,209.442,259.763z"
                  fill="#ea4c88"/>
            <path d="M395.385,164.186c0.659,0.201,1.481,0.172,2.313-0.02v0.029l17.892-3.385l4.074,9.993l0.095-0.01   c0.125,0.469,0.507,0.832,1.157,1.023c1.492,0.449,3.777-0.21,5.088-1.473c0.248-0.229,0.449-0.469,0.593-0.698h0.057l7.259-12.259   l17.968-3.385l0.048-0.077c1.195-0.163,2.505-0.708,3.385-1.54c1.301-1.253,1.167-2.591-0.306-3.021   c-0.029,0-0.067-0.02-0.105-0.039l0.038-0.057l-13.808-4.083l6.636-11.226l-0.038-0.01c1.396-1.358,1.224-2.831-0.383-3.309   c-1.577-0.459-3.949,0.201-5.422,1.492l-0.019-0.009l-14.621,8.969l-13.282-3.911c-0.134-0.067-0.259-0.125-0.431-0.172   c-1.559-0.459-3.978,0.229-5.384,1.568c-1.1,1.052-1.253,2.19-0.487,2.84l3.806,9.343l-15.443,9.457l0.038,0.086   c-0.383,0.201-0.717,0.459-0.994,0.736C393.731,162.321,393.875,163.736,395.385,164.186z"
                  fill="#ea4c88"/>
            <path d="M367.692,198.936c-1.052-0.306-2.64,0.153-3.548,1.042l-20.129,19.431c-1.587-0.87-4.456-0.947-7.641,0.01   c-4.647,1.367-8.204,4.341-7.908,6.636c0.268,2.305,4.265,3.06,8.922,1.702c2.582-0.755,4.781-2.027,6.226-3.385   c0.134-0.086,0.258-0.172,0.363-0.258l2.171-2.104l14.478-13.98l15.061,4.313l-6.416,6.196c-1.588-0.841-4.428-0.908-7.593,0.019   c-4.647,1.377-8.195,4.351-7.908,6.656c0.277,2.295,4.265,3.041,8.922,1.702c2.477-0.736,4.618-1.932,6.062-3.232   c0.048-0.028,0.096-0.057,0.153-0.096l3.347-3.222l11.953-11.561l2.477-2.391c0.908-0.88,0.784-1.827-0.268-2.142L367.692,198.936z    M379.033,208.336c-0.535,0.536-1.473,0.803-2.113,0.631l-12.23-3.519c-0.497-0.144-0.641-0.536-0.382-0.957l0.603-0.593   c0.545-0.325,1.233-0.497,1.73-0.344l12.259,3.509C379.501,207.246,379.579,207.819,379.033,208.336z"
                  fill="#ea4c88"/>
            <path d="M329.958,263.875l-22.539-7.669c-1.979-0.669-5.049,0.077-6.866,1.655l-28.534,25.006   c-1.826,1.597-1.683,3.423,0.296,4.083l22.539,7.679c1.971,0.66,5.04-0.076,6.856-1.664l28.535-24.996   C332.072,266.38,331.918,264.544,329.958,263.875z M324.91,267.614l-20.885,18.293c-0.363,0.315-0.976,0.468-1.377,0.325   l-19.995-6.799c-0.392-0.135-0.421-0.508-0.067-0.813l20.885-18.293c0.363-0.306,0.976-0.468,1.367-0.315l20.005,6.789   C325.263,266.954,325.282,267.298,324.91,267.614z"
                  fill="#ea4c88"/>
            <path d="M308.998,270.827l-10.863,4.762c-0.517,0.22-0.966,0.144-1.004-0.172l-0.277-1.722c-0.058-0.325-0.497-0.382-0.994-0.153   l-9.085,4.236c-0.488,0.229-0.583,0.526-0.182,0.67l16.104,5.46c0.392,0.134,0.842-0.038,0.994-0.383l5.929-12.498   C309.762,270.703,309.495,270.597,308.998,270.827z"
                  fill="#ea4c88"/>
            <path d="M304.847,267.824c0.994-0.889,0.938-1.913-0.162-2.276c-1.101-0.382-2.821,0.038-3.815,0.928   c-1.005,0.879-0.938,1.893,0.172,2.276C302.131,269.115,303.843,268.704,304.847,267.824z"
                  fill="#ea4c88"/>
        </g>

        <g id="happy">
            <path d="M147.998,0C66.392,0,0,66.392,0,147.998s66.392,147.998,147.998,147.998s147.998-66.392,147.998-147.998   S229.605,0,147.998,0z M147.998,279.996c-36.256,0-69.143-14.696-93.022-38.44c-9.536-9.482-17.631-20.41-23.934-32.42   C21.442,190.847,16,170.047,16,147.998C16,75.214,75.214,16,147.998,16c34.523,0,65.987,13.328,89.533,35.102   c12.208,11.288,22.289,24.844,29.558,39.996c8.27,17.239,12.907,36.538,12.907,56.9   C279.996,220.782,220.782,279.996,147.998,279.996z"
                  fill="#ea4c88"/>
            <circle cx="99.666" cy="114.998" r="16" fill="#ea4c88"/>
            <circle cx="198.666" cy="114.998" r="16" fill="#ea4c88"/>
            <path d="M147.715,229.995c30.954,0,60.619-15.83,77.604-42.113l-13.439-8.684c-15.597,24.135-44.126,37.604-72.693,34.308   c-22.262-2.567-42.849-15.393-55.072-34.308l-13.438,8.684c14.79,22.889,39.716,38.409,66.676,41.519   C140.814,229.8,144.27,229.995,147.715,229.995z"
                  fill="#ea4c88"/>
        </g>

        <g id="web">
            <path d="M477.858,8.533H34.142C15.317,8.533,0,23.851,0,42.675v281.591c0,4.71,3.823,8.533,8.533,8.533h494.933    c4.71,0,8.533-3.823,8.533-8.533V42.675C512,23.851,496.683,8.533,477.858,8.533z M494.933,315.733H17.067V42.675    c0-9.421,7.663-17.075,17.075-17.075h443.716c9.412,0,17.075,7.654,17.075,17.075V315.733z"
                  fill="#ea4c88"/>
            <path d="M503.467,315.733H8.533c-4.71,0-8.533,3.823-8.533,8.533v42.658c0,18.825,15.317,34.142,34.142,34.142h443.716    c18.825,0,34.142-15.317,34.142-34.142v-42.658C512,319.556,508.177,315.733,503.467,315.733z M494.933,366.925    c0,9.421-7.663,17.075-17.075,17.075H34.142c-9.412,0-17.075-7.654-17.075-17.075V332.8h477.867V366.925z"
                  fill="#ea4c88"/>
            <path d="M281.6,349.867h-51.2c-4.71,0-8.533,3.823-8.533,8.533s3.823,8.533,8.533,8.533h51.2c4.71,0,8.533-3.823,8.533-8.533    S286.31,349.867,281.6,349.867z"
                  fill="#ea4c88"/>
            <path d="M469.333,42.667H42.667c-4.71,0-8.533,3.823-8.533,8.533v273.067c0,4.71,3.823,8.533,8.533,8.533h426.667    c4.71,0,8.533-3.823,8.533-8.533V51.2C477.867,46.49,474.044,42.667,469.333,42.667z M460.8,315.733H51.2v-256h409.6V315.733z"
                  fill="#ea4c88"/>
            <path d="M366.933,452.267H145.067c-14.114,0-25.6,11.486-25.6,25.6s11.486,25.6,25.6,25.6h221.867c14.114,0,25.6-11.486,25.6-25.6    S381.047,452.267,366.933,452.267z M366.933,486.4H145.067c-4.71,0-8.533-3.831-8.533-8.533s3.823-8.533,8.533-8.533h221.867    c4.71,0,8.533,3.831,8.533,8.533S371.644,486.4,366.933,486.4z"
                  fill="#ea4c88"/>
            <path d="M349.867,452.267c-28.314,0-42.667-20.096-42.667-59.733c0-4.71-3.823-8.533-8.533-8.533h-85.333    c-4.71,0-8.533,3.823-8.533,8.533c0,39.637-14.353,59.733-42.667,59.733c-4.71,0-8.533,3.823-8.533,8.533    c0,4.71,3.823,8.533,8.533,8.533h187.733c4.71,0,8.533-3.823,8.533-8.533C358.4,456.09,354.577,452.267,349.867,452.267z     M203.699,452.267c10.505-11.639,16.691-28.971,17.937-51.2h68.736c1.237,22.229,7.424,39.561,17.937,51.2H203.699z"
                  fill="#ea4c88"/>
            <path d="M407.757,259.959l-20.599-20.599l11.46-11.46c2.125-2.125,2.978-5.214,2.244-8.124c-0.734-2.91-2.944-5.214-5.82-6.084    l-85.333-25.6c-3.012-0.905-6.263-0.077-8.482,2.142c-2.227,2.219-3.046,5.478-2.142,8.482l25.6,85.333    c0.862,2.884,3.174,5.094,6.084,5.828c2.901,0.717,5.999-0.12,8.124-2.244l12.066-12.075l20.599,20.608    c1.596,1.604,3.772,2.5,6.033,2.5s4.437-0.896,6.033-2.5l24.132-24.141C411.093,268.689,411.093,263.296,407.757,259.959z     M377.591,278.067l-18.756-18.765c-2.176-2.176-5.026-3.26-7.876-3.26c-2.859,0-5.709,1.092-7.876,3.251l-6.161,6.161    l-16.939-56.465l56.465,16.939l-6.605,6.605c-1.818,1.826-2.816,4.25-2.816,6.827c0,2.586,1.007,5.026,2.833,6.835l19.797,19.797    L377.591,278.067z"
                  fill="#ea4c88"/>
            <path d="M358.4,76.8H119.467c-4.71,0-8.533,3.823-8.533,8.533V128c0,4.71,3.823,8.533,8.533,8.533H358.4    c4.71,0,8.533-3.823,8.533-8.533V85.333C366.933,80.623,363.11,76.8,358.4,76.8z M349.867,119.467H128v-25.6h221.867V119.467z"
                  fill="#ea4c88"/>
            <path d="M221.867,170.667H153.6c-4.71,0-8.533,3.823-8.533,8.533v34.133c0,4.71,3.823,8.533,8.533,8.533h68.267    c4.71,0,8.533-3.823,8.533-8.533V179.2C230.4,174.49,226.577,170.667,221.867,170.667z M213.333,204.8h-51.2v-17.067h51.2V204.8z"
                  fill="#ea4c88"/>
            <path d="M358.4,76.8H119.467c-4.71,0-8.533,3.823-8.533,8.533v162.133c0,4.71,3.823,8.533,8.533,8.533h203.145    c2.705,0,5.239-1.271,6.844-3.439c1.613-2.167,2.108-4.966,1.331-7.552l-10.803-36.019l35.968,10.795    c2.586,0.777,5.385,0.282,7.543-1.331c2.167-1.604,3.439-4.147,3.439-6.844V85.333C366.933,80.623,363.11,76.8,358.4,76.8z     M349.867,200.141L309.7,188.092c-3.012-0.905-6.263-0.077-8.482,2.142c-2.227,2.227-3.046,5.478-2.142,8.491l12.066,40.209H128    V93.867h221.867V200.141z"
                  fill="#ea4c88"/>
        </g>

        <g id="mob">
            <path d="M224.002,448h32c4.418,0,8-3.582,8-8s-3.582-8-8-8h-32c-4.418,0-8,3.582-8,8S219.584,448,224.002,448z"
                  fill="#ea4c88"/>
            <path d="M104.002,120c4.418,0,8-3.582,8-8V64h256v64c0,4.418,3.582,8,8,8s8-3.582,8-8V32c0-14.4-18.464-32-40-32h-208     c-22.08,0.026-39.974,17.92-40,40v72C96.002,116.418,99.584,120,104.002,120z M112.002,40c0-13.255,10.745-24,24-24h208     c13.864,0,24,11.2,24,16v16h-256V40z"
                  fill="#ea4c88"/>
            <path d="M376.002,352c-4.418,0-8,3.582-8,8v40h-256v-32c0-4.418-3.582-8-8-8s-8,3.582-8,8v72c0.026,22.08,17.92,39.974,40,40h208     c22.08-0.026,39.974-17.92,40-40v-80C384.002,355.582,380.42,352,376.002,352z M368.002,440c0,13.255-10.745,24-24,24h-208     c-13.255,0-24-10.745-24-24v-24h256V440z"
                  fill="#ea4c88"/>
            <path d="M224.002,24h-16c-4.418,0-8,3.582-8,8s3.582,8,8,8h16c4.418,0,8-3.582,8-8S228.42,24,224.002,24z"
                  fill="#ea4c88"/>
            <path d="M272.002,24h-16c-4.418,0-8,3.582-8,8s3.582,8,8,8h16c4.418,0,8-3.582,8-8S276.42,24,272.002,24z"
                  fill="#ea4c88"/>
            <path d="M478.162,154.888L478.162,154.888c-1.521-1.831-3.779-2.89-6.16-2.888H262.018l-4.08-27.512     c-1.801-11.738-11.869-20.425-23.744-20.488h-34.192v16h34.192c3.969-0.003,7.34,2.905,7.92,6.832l27.952,188.68     c1.801,11.738,11.869,20.425,23.744,20.488h19.664c4.335,12.442,17.935,19.014,30.376,14.68     c6.877-2.396,12.284-7.802,14.68-14.68h34.944c4.418,12.497,18.131,19.046,30.627,14.627s19.046-18.131,14.627-30.627     c-4.418-12.497-18.131-19.046-30.627-14.627c-6.835,2.416-12.211,7.793-14.627,14.627H358.53     c-4.335-12.442-17.935-19.014-30.376-14.68c-6.877,2.396-12.284,7.802-14.68,14.68H293.81c-3.96-0.021-7.318-2.917-7.92-6.832     L283.346,296h164.656c3.845-0.003,7.145-2.741,7.856-6.52l24-128C480.302,159.14,479.68,156.723,478.162,154.888z M416.002,320     c4.418,0,8,3.582,8,8s-3.582,8-8,8s-8-3.582-8-8S411.584,320,416.002,320z M336.002,320c4.418,0,8,3.582,8,8s-3.582,8-8,8     s-8-3.582-8-8S331.584,320,336.002,320z M441.362,280H280.978l-16.584-112h198.008L441.362,280z"
                  fill="#ea4c88"/>
            <path d="M208.002,240c0-57.438-46.562-104-104-104s-104,46.562-104,104s46.562,104,104,104     C161.412,343.934,207.936,297.41,208.002,240z M16.002,240c0-48.601,39.399-88,88-88s88,39.399,88,88c0,48.601-39.399,88-88,88     C55.425,327.943,16.059,288.577,16.002,240z"
                  fill="#ea4c88"/>
            <path d="M112.002,304v-9.136c17.081-4.396,27.364-21.807,22.968-38.888c-3.636-14.126-16.381-23.994-30.968-23.976     c-8.837,0-16-7.163-16-16s7.163-16,16-16s16,7.163,16,16c0,4.418,3.582,8,8,8c4.418,0,8-3.582,8-8     c-0.055-14.547-9.914-27.227-24-30.864V176c0-4.418-3.582-8-8-8s-8,3.582-8,8v9.136c-17.081,4.396-27.364,21.807-22.968,38.888     c3.636,14.126,16.381,23.994,30.968,23.976c8.837,0,16,7.163,16,16s-7.163,16-16,16s-16-7.163-16-16c0-4.418-3.582-8-8-8     s-8,3.582-8,8c0.055,14.547,9.914,27.227,24,30.864V304c0,4.418,3.582,8,8,8S112.002,308.418,112.002,304z"
                  fill="#ea4c88"/>
            <path d="M288.002,192h112c4.418,0,8-3.582,8-8s-3.582-8-8-8h-112c-4.418,0-8,3.582-8,8S283.584,192,288.002,192z"
                  fill="#ea4c88"/>
            <path d="M424.002,192h16c4.418,0,8-3.582,8-8s-3.582-8-8-8h-16c-4.418,0-8,3.582-8,8S419.584,192,424.002,192z"
                  fill="#ea4c88"/>
        </g>

        <g id="app-store">
            <path fill-rule="nonzero"
                  d="M62.869 25.14h-4.73l-1.136 3.356H55l4.48-12.418h2.081l4.48 12.418h-2.037l-1.135-3.356zm-4.24-1.55h3.749l-1.848-5.446h-.052l-1.85 5.447zm17.087.38c0 2.813-1.505 4.62-3.775 4.62a3.066 3.066 0 0 1-2.847-1.583h-.043v4.484h-1.857V19.442h1.798v1.506h.034a3.208 3.208 0 0 1 2.88-1.6c2.296 0 3.81 1.816 3.81 4.622zm-1.909 0c0-1.833-.946-3.038-2.39-3.038-1.42 0-2.374 1.23-2.374 3.038 0 1.824.955 3.046 2.374 3.046 1.444 0 2.39-1.197 2.39-3.046zm11.866 0c0 2.813-1.505 4.62-3.776 4.62a3.066 3.066 0 0 1-2.846-1.583h-.043v4.484h-1.857V19.442h1.798v1.506h.034a3.208 3.208 0 0 1 2.88-1.6c2.296 0 3.81 1.816 3.81 4.622zm-1.909 0c0-1.833-.946-3.038-2.39-3.038-1.42 0-2.374 1.23-2.374 3.038 0 1.824.955 3.046 2.373 3.046 1.445 0 2.391-1.197 2.391-3.046zm8.489 1.066c.137 1.232 1.333 2.04 2.966 2.04 1.565 0 2.691-.808 2.691-1.919 0-.964-.679-1.54-2.287-1.936l-1.608-.388c-2.278-.55-3.336-1.617-3.336-3.348 0-2.142 1.866-3.614 4.514-3.614 2.623 0 4.42 1.472 4.48 3.614H97.8c-.112-1.239-1.136-1.987-2.631-1.987-1.496 0-2.52.757-2.52 1.858 0 .878.654 1.395 2.253 1.79l1.367.336c2.546.603 3.603 1.626 3.603 3.443 0 2.323-1.848 3.778-4.79 3.778-2.751 0-4.609-1.42-4.729-3.667h1.9zM103.88 17.3v2.142h1.72v1.472h-1.72v4.991c0 .776.345 1.137 1.101 1.137.204-.004.408-.018.61-.043v1.463c-.34.063-.685.092-1.03.086-1.832 0-2.546-.689-2.546-2.445v-5.189h-1.316v-1.472h1.316V17.3h1.865zm2.716 6.67c0-2.849 1.676-4.639 4.29-4.639 2.623 0 4.292 1.79 4.292 4.639 0 2.856-1.66 4.638-4.292 4.638-2.63 0-4.29-1.782-4.29-4.638zm6.69 0c0-1.954-.895-3.108-2.4-3.108-1.504 0-2.399 1.162-2.399 3.108 0 1.962.895 3.106 2.4 3.106 1.504 0 2.399-1.144 2.399-3.106zm3.423-4.528h1.77v1.541h.044a2.158 2.158 0 0 1 2.176-1.635c.214-.001.427.022.636.069v1.738a2.594 2.594 0 0 0-.834-.112 1.87 1.87 0 0 0-1.935 2.083v5.37h-1.857v-9.054zm13.188 6.395c-.25 1.643-1.85 2.771-3.896 2.771-2.631 0-4.265-1.764-4.265-4.595 0-2.84 1.642-4.682 4.187-4.682 2.503 0 4.077 1.72 4.077 4.466v.637h-6.39v.112a2.36 2.36 0 0 0 2.434 2.564 2.047 2.047 0 0 0 2.09-1.273h1.763zm-6.278-2.702h4.523a2.178 2.178 0 0 0-2.219-2.298 2.29 2.29 0 0 0-2.304 2.298z"/>
            <path d="M59.92 4.28c0-.416-.151-.746-.454-.991-.303-.245-.728-.368-1.276-.368-.458 0-.842.126-1.152.379-.31.252-.464.564-.464.937h-1.032c0-.416.114-.788.342-1.117.227-.33.545-.587.953-.771a3.25 3.25 0 0 1 1.353-.277c.874 0 1.553.196 2.036.588.483.392.725.938.725 1.636 0 .362-.11.691-.333.988-.222.297-.532.532-.929.704.92.308 1.38.918 1.38 1.831 0 .702-.261 1.259-.784 1.67-.523.413-1.22.618-2.095.618-.519 0-.99-.092-1.415-.276a2.277 2.277 0 0 1-.99-.787c-.237-.34-.355-.745-.355-1.214h1.03c0 .412.164.755.49 1.029.326.274.74.41 1.24.41.563 0 1.011-.13 1.346-.392a1.25 1.25 0 0 0 .502-1.036c0-.917-.567-1.384-1.703-1.402h-.966V5.59h.961c.523-.01.919-.129 1.187-.354.269-.226.403-.544.403-.956zM65.866 10c-.058-.115-.104-.319-.14-.612-.462.48-1.013.72-1.654.72-.573 0-1.043-.163-1.41-.487a1.573 1.573 0 0 1-.55-1.232c0-.605.23-1.075.69-1.41.46-.335 1.107-.502 1.941-.502h.967V6.02c0-.347-.104-.624-.312-.83-.207-.206-.513-.309-.918-.309-.355 0-.652.09-.892.269-.24.179-.36.396-.36.65h-.999c0-.29.103-.57.31-.84.205-.271.485-.485.837-.643.353-.157.74-.236 1.163-.236.67 0 1.194.167 1.574.502.38.335.576.796.59 1.383v2.675c0 .534.069.958.205 1.273V10h-1.042zm-1.65-.757c.312 0 .608-.08.887-.242.28-.161.482-.37.607-.628V7.18h-.779c-1.217 0-1.826.356-1.826 1.069 0 .312.104.555.312.73.207.176.474.264.8.264zm7.8-4.233h-2.68V10h-1V4.188h3.68v.822zm5.768 2.149c0 .884-.202 1.597-.607 2.137-.404.541-.952.811-1.643.811-.706 0-1.26-.223-1.665-.671v2.798h-.994V4.188h.908l.048.645c.405-.501.967-.752 1.687-.752.698 0 1.25.263 1.657.79.406.526.61 1.258.61 2.196v.092zm-.993-.113c0-.655-.14-1.173-.42-1.552-.279-.38-.662-.57-1.149-.57-.601 0-1.053.267-1.353.8v2.777c.297.53.752.795 1.364.795.476 0 .855-.188 1.136-.566.281-.378.422-.94.422-1.684zm4.157 1.498L82.3 4.188h1.064l-2.337 6.709c-.361.967-.936 1.45-1.724 1.45l-.188-.016-.37-.07v-.805l.268.021c.337 0 .599-.068.787-.204.188-.136.343-.385.465-.747l.22-.59-2.073-5.748h1.085l1.45 4.356zm6.499-2.766a.773.773 0 0 0-.312-.647c-.207-.16-.492-.239-.854-.239-.35 0-.643.091-.878.274-.234.183-.352.397-.352.645h-.988c0-.505.211-.919.634-1.241.422-.322.95-.484 1.584-.484.68 0 1.21.146 1.59.438.38.292.57.708.57 1.249 0 .261-.08.501-.237.72a1.61 1.61 0 0 1-.671.52c.676.23 1.015.681 1.015 1.354 0 .534-.206.956-.618 1.268-.412.311-.961.467-1.649.467-.67 0-1.222-.164-1.657-.491-.435-.328-.652-.771-.652-1.33h.988c0 .283.126.526.379.728.252.202.566.303.942.303.38 0 .686-.087.919-.263a.817.817 0 0 0 .349-.682c0-.326-.098-.56-.293-.7-.195-.142-.499-.213-.91-.213h-.994v-.838h1.08c.676-.018 1.015-.297 1.015-.838zm6.15-1.59h.993V10h-.993V5.762L90.917 10h-.994V4.188h.994v4.244l2.68-4.244zm6.907.806h-1.95V10h-.993V4.994h-1.913v-.806h4.856v.806zm3.378 5.113c-.787 0-1.428-.258-1.923-.776-.494-.517-.74-1.21-.74-2.076v-.182c0-.577.11-1.091.33-1.544.22-.453.528-.808.923-1.064a2.323 2.323 0 0 1 1.287-.384c.755 0 1.343.249 1.762.747.418.497.628 1.21.628 2.137v.414h-3.937c.014.573.182 1.036.502 1.388.32.353.728.53 1.222.53.35 0 .648-.072.892-.215a2.24 2.24 0 0 0 .639-.57l.607.473c-.487.748-1.218 1.122-2.192 1.122zm-.123-5.21c-.401 0-.738.146-1.01.438-.272.292-.44.701-.505 1.228h2.911v-.076c-.028-.505-.164-.896-.408-1.173-.243-.278-.573-.417-.988-.417zM110.113 10V4.188h2.266c.774 0 1.367.136 1.78.406.414.27.621.667.621 1.19 0 .268-.08.51-.241.727-.162.217-.4.383-.715.497.351.083.633.244.846.484.213.24.32.526.32.86 0 .533-.196.94-.588 1.224-.392.283-.947.424-1.663.424h-2.626zm.993-2.551v1.75h1.644c.415 0 .726-.076.932-.23.206-.154.309-.37.309-.65 0-.58-.426-.87-1.279-.87h-1.606zm0-.795h1.284c.931 0 1.397-.272 1.397-.817 0-.544-.44-.825-1.322-.843h-1.359v1.66z"/>
            <path fill-rule="nonzero"
                  d="M38.21 16.053A6.216 6.216 0 0 0 42 21.771a14.257 14.257 0 0 1-1.971 4.02c-1.161 1.74-2.379 3.438-4.311 3.47-1.878.043-2.508-1.107-4.662-1.107-2.174 0-2.846 1.075-4.647 1.15-1.84.068-3.246-1.856-4.45-3.579-2.405-3.518-4.277-9.915-1.767-14.267A6.9 6.9 0 0 1 26 7.912c1.842-.038 3.552 1.245 4.685 1.245 1.11 0 3.224-1.535 5.404-1.306a6.574 6.574 0 0 1 5.182 2.805 6.434 6.434 0 0 0-3.06 5.397zM34.664 5.537a5.319 5.319 0 0 1-4.202 1.99 6.031 6.031 0 0 1 1.485-4.37A6.433 6.433 0 0 1 36.11 1a6.339 6.339 0 0 1-1.447 4.537z"/>
        </g>

        <g id="google-play">
            <path fill-rule="nonzero"
                  d="M67.456 21.532h-5.913V23.3h4.193c-.207 2.48-2.254 3.538-4.185 3.538a4.592 4.592 0 0 1-3.294-1.377 4.666 4.666 0 0 1-1.334-3.333c0-2.677 2.055-4.739 4.633-4.739 1.989 0 3.16 1.279 3.16 1.279l1.229-1.283s-1.577-1.77-4.452-1.77c-3.66 0-6.493 3.116-6.493 6.482.038 3.631 2.985 6.546 6.587 6.514 3.45 0 5.975-2.384 5.975-5.908 0-.743-.107-1.173-.107-1.173v.002zm5.025-1.282c-2.426 0-4.165 1.913-4.165 4.143 0 2.263 1.686 4.211 4.192 4.211 2.27 0 4.128-1.749 4.128-4.162 0-2.767-2.162-4.191-4.156-4.191v-.001zm.023 1.641c1.193 0 2.324.973 2.324 2.54 0 1.533-1.126 2.534-2.33 2.534-1.321 0-2.364-1.068-2.364-2.546 0-1.447 1.03-2.528 2.37-2.528zm9.13-1.641c-2.425 0-4.163 1.913-4.163 4.143 0 2.263 1.686 4.211 4.192 4.211 2.27 0 4.127-1.749 4.127-4.162 0-2.767-2.161-4.191-4.155-4.191v-.001zm.025 1.641c1.193 0 2.323.973 2.323 2.54 0 1.533-1.125 2.534-2.329 2.534-1.321 0-2.365-1.068-2.365-2.546 0-1.447 1.03-2.528 2.371-2.528zm8.943-1.636c-2.227 0-3.977 1.966-3.977 4.173 0 2.514 2.029 4.182 3.938 4.182 1.18 0 1.809-.473 2.272-1.015v.823c0 1.441-.868 2.305-2.177 2.305-1.265 0-1.9-.95-2.12-1.488l-1.593.671c.566 1.205 1.702 2.46 3.725 2.46 2.215 0 3.901-1.406 3.901-4.355v-7.505h-1.736v.708c-.534-.58-1.264-.959-2.233-.959zm.16 1.637c1.092 0 2.213.94 2.213 2.545 0 1.632-1.118 2.53-2.236 2.53-1.188 0-2.292-.97-2.292-2.514 0-1.604 1.147-2.56 2.316-2.56v-.001zm11.897-1.647c-2.1 0-3.864 1.685-3.864 4.171 0 2.631 1.965 4.191 4.065 4.191 1.752 0 2.828-.966 3.47-1.833l-1.432-.96c-.371.581-.992 1.15-2.029 1.15-1.165 0-1.7-.644-2.032-1.266l5.554-2.324-.288-.681c-.536-1.334-1.788-2.448-3.444-2.448zm.072 1.607c.756 0 1.3.405 1.532.892l-3.708 1.563c-.16-1.21.977-2.455 2.175-2.455h.001zm-6.767 6.508h1.825V16.047h-1.825V28.36zm24.46 0h1.825V16.047h-1.825V28.36zm15.197-.344l-3.386-7.771h1.992l2.39 5.485 2.39-5.484H141l-5.282 12.12h-1.993l1.896-4.35zm-23.046-11.968h2.588c2.146.007 3.883 1.76 3.89 3.922-.007 2.163-1.744 3.915-3.89 3.922h-2.588v4.468h-1.826V16.047h1.826zm-.001 1.84v4.164h2.59c1.131 0 2.064-.94 2.064-2.082s-.933-2.082-2.065-2.082h-2.59zm17.141 10.472v-.994c-.42.504-.934.894-1.585 1.074-1.158.318-2.567.192-3.425-.739-.55-.597-.727-1.578-.624-2.373.191-1.473 1.393-2.371 2.797-2.514.898-.093 1.883.084 2.793.327-.199-2.006-3.23-2.437-4.292-.565l-1.469-.993c2.173-3.292 7.915-2.218 7.63 2.349v4.428h-1.825zm0-3.56v.001c-.51-.167-.98-.302-1.518-.367-3.135-.475-2.61 2.981-.5 2.401.997-.275 1.785-1.011 2.018-2.035z"/>
            <path d="M62.944 11.917h-1.026V10h-5.613v1.923h-1.031l-.005-2.766h.639c.336-.38.604-.89.803-1.528.198-.64.323-1.34.373-2.103l.172-3.346h4.678v6.977h1.02l-.01 2.76zm-5.86-2.76h3.813V3.028H58.25l-.113 2.3c-.047.898-.166 1.664-.357 2.298-.192.634-.424 1.144-.696 1.53zM63.76 7.04c0-.57.112-1.082.336-1.537.224-.454.535-.805.935-1.052.399-.247.854-.37 1.366-.37.792 0 1.432.273 1.92.82.49.549.734 1.277.734 2.187v.07c0 .565-.109 1.073-.325 1.522-.217.45-.527.8-.93 1.05-.402.251-.865.376-1.388.376-.788 0-1.426-.274-1.915-.821-.488-.548-.733-1.273-.733-2.176v-.07zm1 .118c0 .644.149 1.162.448 1.552.299.39.699.585 1.2.585.505 0 .906-.197 1.203-.593.298-.396.446-.95.446-1.662 0-.638-.151-1.154-.454-1.55a1.443 1.443 0 0 0-1.206-.594c-.49 0-.886.196-1.187.586-.3.39-.45.949-.45 1.676zm7.868 2.137c.354 0 .664-.107.93-.322.264-.215.41-.483.44-.806h.94c-.018.333-.133.65-.344.951-.212.3-.493.54-.846.72a2.44 2.44 0 0 1-1.12.268c-.791 0-1.42-.264-1.888-.792-.467-.528-.7-1.25-.7-2.167V6.98c0-.565.103-1.068.31-1.509.208-.44.506-.782.895-1.026.388-.243.848-.365 1.378-.365.651 0 1.193.195 1.624.586.432.39.662.896.69 1.52h-.94a1.37 1.37 0 0 0-.426-.927 1.328 1.328 0 0 0-.948-.363c-.505 0-.897.182-1.174.546-.278.363-.416.889-.416 1.576v.188c0 .67.138 1.185.413 1.547.276.362.67.542 1.182.542zm7.745-4.302h-1.95V10h-.993V4.994h-1.912v-.806h4.855v.806zm2.868 3.55l1.354-4.356h1.063l-2.336 6.709c-.362.967-.937 1.45-1.724 1.45l-.188-.016-.37-.07v-.805l.268.021c.336 0 .598-.068.786-.204.188-.136.343-.385.465-.747l.22-.59-2.073-5.748h1.085l1.45 4.356zM91.298 10h-.994V5.01H87.63V10h-.999V4.188h4.668V10zm6.343 0h-.994V7.519h-2.669V10h-.999V4.188h.999v2.52h2.67v-2.52h.993V10zm1.332-2.96c0-.569.112-1.08.336-1.536.224-.454.535-.805.934-1.052.4-.247.855-.37 1.367-.37.792 0 1.432.273 1.92.82.49.549.734 1.277.734 2.187v.07c0 .565-.109 1.073-.325 1.522-.217.45-.527.8-.93 1.05-.402.251-.865.376-1.388.376-.788 0-1.426-.274-1.915-.821-.488-.548-.733-1.273-.733-2.176v-.07zm1 .119c0 .644.149 1.162.448 1.552.299.39.699.585 1.2.585.505 0 .906-.197 1.203-.593.297-.396.446-.95.446-1.662 0-.638-.151-1.154-.454-1.55a1.443 1.443 0 0 0-1.206-.594c-.49 0-.886.196-1.187.586-.3.39-.45.949-.45 1.676zM108.323 10V4.188h2.267c.773 0 1.367.136 1.78.406.414.27.62.667.62 1.19 0 .268-.08.51-.241.727-.161.217-.4.383-.714.497.35.083.633.244.846.484.213.24.32.526.32.86 0 .533-.197.94-.589 1.224-.392.283-.946.424-1.662.424h-2.627zm.994-2.551v1.75h1.643c.416 0 .726-.076.932-.23.206-.154.31-.37.31-.65 0-.58-.427-.87-1.28-.87h-1.605zm0-.795h1.284c.93 0 1.396-.272 1.396-.817 0-.544-.44-.825-1.321-.843h-1.36v1.66z"/>
            <path fill-rule="nonzero"
                  d="M36.026 13.624l4.226 2.352c.998.555.998 1.474-.001 2.032l-4.222 2.353-3.457-3.365 3.454-3.372zm-.912-.508l-3.259 3.182L20.251 5c.23.02.456.091.657.21l14.206 7.906zM20.274 29l11.582-11.305 3.26 3.174-14.206 7.918a1.55 1.55 0 0 1-.635.213zm-1.027-.394c-.155-.221-.244-.529-.247-.914v-21.4c0-.364.082-.672.225-.894L31.14 16.997 19.247 28.606z"/>
        </g>

        <g id="wallet">
            <path d="m336 336c-5.519531 0-10 4.480469-10 10s4.480469 10 10 10 10-4.480469 10-10-4.480469-10-10-10zm0 0"
                  fill="#ea4c88"/>
            <path d="m200 326c-5.515625 0-10-4.484375-10-10s4.484375-10 10-10c3.542969 0 7.28125 1.808594 10.816406 5.226562 3.96875 3.839844 10.300782 3.738282 14.140625-.234374 3.839844-3.96875 3.734375-10.296876-.234375-14.136719-5.074218-4.914063-10.152344-7.691407-14.722656-9.207031v-11.648438c0-5.523438-4.476562-10-10-10s-10 4.476562-10 10v11.71875c-11.640625 4.128906-20 15.246094-20 28.28125 0 16.542969 13.457031 30 30 30 5.511719 0 10 4.484375 10 10s-4.488281 10-10 10c-4.273438 0-8.886719-2.6875-12.988281-7.566406-3.550781-4.226563-9.859375-4.773438-14.085938-1.21875-4.230469 3.554687-4.773437 9.863281-1.222656 14.089844 5.347656 6.359374 11.632813 10.789062 18.296875 13.023437v11.671875c0 5.523438 4.476562 10 10 10s10-4.476562 10-10v-11.71875c11.636719-4.128906 20-15.246094 20-28.28125 0-16.542969-13.457031-30-30-30zm0 0"
                  fill="#ea4c88"/>
            <path d="m120 166c5.523438 0 10-4.476562 10-10v-40c0-5.523438-4.476562-10-10-10s-10 4.476562-10 10v40c0 5.523438 4.476562 10 10 10zm0 0"
                  fill="#ea4c88"/>
            <path d="m472 236v-80c0-27.570312-22.429688-50-50-50h-56v-76c0-16.542969-13.457031-30-30-30h-186c-16.542969 0-30 13.457031-30 30v36h-30c-16.542969 0-30 13.457031-30 30v10h-10c-27.570312 0-50 22.429688-50 50v306c0 27.570312 22.429688 50 50 50h306c24.144531 0 44.347656-17.203125 48.992188-40h17.007812c27.570312 0 50-22.429688 50-50v-26h10c16.542969 0 30-13.457031 30-30v-90c0-22.054688-17.945312-40-40-40zm20 40c0 11.046875-8.953125 20-20 20v-40c11.027344 0 20 8.972656 20 20zm-70-150c16.542969 0 30 13.457031 30 30v140h-46v-60c0-24.144531-17.203125-44.347656-40-48.992188v-61.007812zm-282-96c0-5.515625 4.484375-10 10-10h186c5.515625 0 10 4.484375 10 10v156h-46v-90c0-16.542969-13.457031-30-30-30h-130zm100 156v-100h30c5.515625 0 10 4.484375 10 10v90zm-60 0v-100h40v100zm-100-90c0-5.515625 4.484375-10 10-10h70v100h-80zm-30 30h10v60h-7.859375c-16.527344 0-32.140625-11.96875-32.140625-30 0-16.542969 13.457031-30 30-30zm306 366h-306c-16.542969 0-30-13.457031-30-30v-266.617188c8.941406 6.660157 20.171875 10.617188 32.140625 10.617188h303.859375c16.542969 0 30 13.457031 30 30v60h-70c-16.542969 0-30 13.457031-30 30v40c0 16.542969 13.457031 30 30 30h70v66c0 16.542969-13.457031 30-30 30zm96-70c0 16.542969-13.457031 30-30 30h-16v-56h46zm30-46h-166c-5.515625 0-10-4.484375-10-10v-40c0-5.515625 4.484375-10 10-10h156c7.136719 0 13.984375-1.867188 20-5.355469v55.355469c0 5.515625-4.484375 10-10 10zm0 0"
                  fill="#ea4c88"/>
            <path d="m422 336h-46c-5.523438 0-10 4.476562-10 10s4.476562 10 10 10h46c5.523438 0 10-4.476562 10-10s-4.476562-10-10-10zm0 0"
                  fill="#ea4c88"/>
        </g>

        <g id="item-24">
            <path fill-rule="nonzero"
                  d="M10 15.586l9.293-9.293 1.414 1.414L10 18.414l-5.707-5.707 1.414-1.414z"/>
        </g>

        <g id="logotype">
            <style type="text/css">
                .st1 {
                    font-family: 'ArialMT';
                }

                .st2 {
                    font-size: 275.9029px;
                }

                .st3 {
                    font-size: 200.9601px;
                }
            </style>
            <path class="st0" d="M288,168h-96c-13.3,0-24,10.7-24,24v96c0,13.3,10.7,24,24,24h96c13.3,0,24-10.7,24-24v-96
	C312,178.7,301.3,168,288,168L288,168z M296,288c0,4.4-3.6,8-8,8h-96c-4.4,0-8-3.6-8-8v-96c0-4.4,3.6-8,8-8h96c4.4,0,8,3.6,8,8V288z
	 M296,288"/>
            <path class="st0" d="M288,0h-96c-13.3,0-24,10.7-24,24v96c0,13.3,10.7,24,24,24h96c13.3,0,24-10.7,24-24V24C312,10.7,301.3,0,288,0
	L288,0z M296,120c0,4.4-3.6,8-8,8h-96c-4.4,0-8-3.6-8-8V24c0-4.4,3.6-8,8-8h96c4.4,0,8,3.6,8,8V120z M296,120"/>
            <path class="st0" d="M288,336h-96c-13.3,0-24,10.7-24,24v96c0,13.3,10.7,24,24,24h96c13.3,0,24-10.7,24-24v-96
	C312,346.7,301.3,336,288,336L288,336z M296,456c0,4.4-3.6,8-8,8h-96c-4.4,0-8-3.6-8-8v-96c0-4.4,3.6-8,8-8h96c4.4,0,8,3.6,8,8V456z
	 M296,456"/>
            <path class="st0" d="M456,168h-96c-13.3,0-24,10.7-24,24v96c0,13.3,10.7,24,24,24h96c13.3,0,24-10.7,24-24v-96
	C480,178.7,469.3,168,456,168L456,168z M464,288c0,4.4-3.6,8-8,8h-96c-4.4,0-8-3.6-8-8v-96c0-4.4,3.6-8,8-8h96c4.4,0,8,3.6,8,8V288z
	 M464,288"/>
            <path class="st0" d="M456,0h-96c-13.3,0-24,10.7-24,24v96c0,13.3,10.7,24,24,24h96c13.3,0,24-10.7,24-24V24C480,10.7,469.3,0,456,0
	L456,0z M464,120c0,4.4-3.6,8-8,8h-96c-4.4,0-8-3.6-8-8V24c0-4.4,3.6-8,8-8h96c4.4,0,8,3.6,8,8V120z M464,120"/>
            <path class="st0" d="M456,336h-96c-13.3,0-24,10.7-24,24v96c0,13.3,10.7,24,24,24h96c13.3,0,24-10.7,24-24v-96
	C480,346.7,469.3,336,456,336L456,336z M464,456c0,4.4-3.6,8-8,8h-96c-4.4,0-8-3.6-8-8v-96c0-4.4,3.6-8,8-8h96c4.4,0,8,3.6,8,8V456z
	 M464,456"/>
            <path class="st0" d="M120,168H24c-13.3,0-24,10.7-24,24v96c0,13.3,10.7,24,24,24h96c13.3,0,24-10.7,24-24v-96
	C144,178.7,133.3,168,120,168L120,168z M128,288c0,4.4-3.6,8-8,8H24c-4.4,0-8-3.6-8-8v-96c0-4.4,3.6-8,8-8h96c4.4,0,8,3.6,8,8V288z
	 M128,288"/>
            <path class="st0" d="M120,0H24C10.7,0,0,10.7,0,24v96c0,13.3,10.7,24,24,24h96c13.3,0,24-10.7,24-24V24C144,10.7,133.3,0,120,0
	L120,0z M128,120c0,4.4-3.6,8-8,8H24c-4.4,0-8-3.6-8-8V24c0-4.4,3.6-8,8-8h96c4.4,0,8,3.6,8,8V120z M128,120"/>
            <path class="st0" d="M120,336H24c-13.3,0-24,10.7-24,24v96c0,13.3,10.7,24,24,24h96c13.3,0,24-10.7,24-24v-96
	C144,346.7,133.3,336,120,336L120,336z M128,456c0,4.4-3.6,8-8,8H24c-4.4,0-8-3.6-8-8v-96c0-4.4,3.6-8,8-8h96c4.4,0,8,3.6,8,8V456z
	 M128,456"/>
            <text transform="matrix(1 0 0 1 524.9297 208.3125)" class="st0 st1 st2">ТО САМОЕ</text>
            <text transform="matrix(1 0 0 1 524.9297 479.9995)" class="st0 st1 st3">ПРИЛОЖЕНИЕ</text>
        </g>

        <g id="error">
            <path d="M140.61,273.063h-5.956v-22.69c0-11.623-10.593-19.433-26.358-19.433s-26.357,7.81-26.357,19.433v22.69H65.571    l25.677-100.707c1.101-2.746,1.194-5.749,1.186-8.392l-0.001-0.284c0-15.632-22.966-20.737-30.881-20.737    c-10.132,0-18.414,5.148-22.723,14.123c-0.199,0.415-0.359,0.847-0.481,1.29C0,298.98,0,300.981,0,302.305    c0,12.096,8.537,20.876,20.297,20.876H33.97c4.2,0,7.604-3.405,7.604-7.604c0-4.199-3.404-7.604-7.604-7.604H20.297    c-3.184,0-4.887-1.694-5.072-5.04c1.954-8.608,23.256-87.252,37.593-139.831c1.785-3.288,4.721-4.954,8.734-4.954    c5.289,0,14.355,3.338,15.673,5.732l0.001,0.128c0.001,0.584,0.006,2.084-0.132,2.756c-0.178,0.397-0.321,0.809-0.43,1.231    L48.417,278.788c-0.58,2.275-0.076,4.69,1.365,6.544c1.44,1.854,3.656,2.938,6.004,2.938h33.757c4.2,0,7.604-3.405,7.604-7.604    v-30.294c0-2.528,5.766-4.225,11.149-4.225c5.481,0,11.15,1.581,11.15,4.225v30.294c0,4.199,3.404,7.604,7.604,7.604h13.56    c2.252,0,4.226,4.671,4.226,9.996c0,5.013-3.022,9.171-4.382,9.708H127.05c-4.2,0-7.604,3.405-7.604,7.604v34.045    c0,1.954-4.872,4.225-11.15,4.225c-6.467,0-11.149-2.523-11.149-4.225v-34.045c0-4.199-3.404-7.604-7.604-7.604H59.318    c-4.2,0-7.604,3.405-7.604,7.604c0,4.199,3.404,7.604,7.604,7.604h22.621v26.441c0,11.26,11.086,19.433,26.357,19.433    c15.52,0,26.358-7.991,26.358-19.433v-26.441h5.956c9.192,0,19.434-10.232,19.434-24.916    C160.043,283.663,151.87,273.063,140.61,273.063z" fill="#e91e63"/>

            <path d="M492.566,273.063h-5.956v-22.69c0-11.623-10.593-19.433-26.358-19.433s-26.357,7.81-26.357,19.433v22.69h-16.368    l25.679-100.708c1.1-2.745,1.193-5.75,1.185-8.393l-0.001-0.281c0-15.632-22.966-20.737-30.881-20.737    c-10.132,0-18.415,5.148-22.724,14.123c-0.199,0.415-0.359,0.847-0.481,1.29c0,0-4.869,17.852-11.125,40.898    c0,0.001,0,0.002-0.001,0.003l-7.879,29.071c-19.345,71.527-19.345,72.449-19.345,73.978c0,12.096,8.537,20.876,20.298,20.876    h61.64v26.441c0,11.26,11.085,19.433,26.357,19.433c15.52,0,26.358-7.991,26.358-19.433v-26.441h5.956    c9.192,0,19.434-10.232,19.434-24.915C512,283.663,503.826,273.063,492.566,273.063z M492.41,307.974h-13.404    c-4.2,0-7.604,3.405-7.604,7.604v34.045c0,1.954-4.872,4.225-11.15,4.225c-6.467,0-11.149-2.523-11.149-4.225v-34.045    c0-4.199-3.404-7.604-7.604-7.604h-69.244c-3.183,0-4.887-1.694-5.073-5.037c0.677-2.966,4.201-16.655,18.801-70.634l7.877-29.064    c5.504-20.276,9.934-36.53,10.916-40.133c1.785-3.288,4.721-4.954,8.735-4.954c5.289,0,14.354,3.338,15.673,5.732l0.001,0.124    c0.001,0.585,0.006,2.09-0.133,2.762c-0.177,0.396-0.32,0.808-0.429,1.23l-28.249,110.79c-0.58,2.275-0.076,4.69,1.365,6.544    c1.44,1.854,3.656,2.938,6.004,2.938H441.5c4.2,0,7.604-3.405,7.604-7.604v-30.294c0-2.528,5.766-4.225,11.149-4.225    c5.481,0,11.15,1.581,11.15,4.225v30.294c0,4.199,3.404,7.604,7.604,7.604h13.56c2.252,0,4.226,4.671,4.226,9.996    C496.792,303.281,493.769,307.437,492.41,307.974z" fill="#e91e63"/>

            <path d="M330.892,206.939c-2.512-3.363-7.279-4.051-10.642-1.536c-3.362,2.515-4.05,7.281-1.535,10.643    c10.168,13.597,15.542,29.786,15.542,46.818c0,43.149-35.104,78.252-78.252,78.252c-43.15,0-78.253-35.104-78.253-78.252    c0-43.149,35.104-78.253,78.253-78.253c17.152,0,33.434,5.444,47.083,15.744c3.353,2.53,8.122,1.863,10.651-1.49    c2.529-3.352,1.862-8.12-1.49-10.65c-16.311-12.307-35.76-18.812-56.245-18.812c-51.534,0-93.461,41.927-93.461,93.461    s41.927,93.46,93.461,93.46c51.534,0,93.46-41.926,93.46-93.46C349.464,242.523,343.042,223.185,330.892,206.939z" fill="#e91e63"/>

            <path d="M296.624,292.726l-29.863-29.863L296.624,233c2.968-2.969,2.968-7.783-0.002-10.753c-2.971-2.97-7.784-2.97-10.754,0    l-29.863,29.863l-29.863-29.863c-2.971-2.97-7.784-2.97-10.754,0c-2.97,2.97-2.97,7.784,0,10.753l29.863,29.863l-29.863,29.863    c-2.97,2.97-2.97,7.784,0,10.753c1.485,1.484,3.432,2.227,5.378,2.227c1.946,0,3.892-0.742,5.377-2.227l29.863-29.863    l29.863,29.863c1.485,1.484,3.432,2.227,5.377,2.227s3.892-0.742,5.378-2.227C299.593,300.51,299.593,295.695,296.624,292.726z" fill="#e91e63"/>
        </g>
    </defs>
</svg>