.form {
  @include offset(100%);
  &__form-group {
    position: relative;
    padding: 20px 0;
    label {
      @include font($font13, normal, 1.54, Roboto);
      color: $black100;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transform: translateY(0);
      transition: all 0.5s ease-out;
    }
    input {
      @include offset(100%, 42px);
      @include font($font16, normal, 1.5, Roboto);
      color: $black100;
      border: none;
      border-bottom: 1px solid $pink5;
      padding: 11px 8px;
      transition: all 0.5s ease-out;
      @include placeholder {
        @include font($font16, 300, 1.5, Roboto);
        color: $black60;
      }
      &:focus {
        border-bottom: 1px solid $pink100;
        outline: none;
        & +  label {
          opacity: 1;
          transform: translateY(1px);
        }
      }
    }
  }
}