.select {
  @include offset(100%);
  margin: 20px 0;
  position: relative;
  cursor: pointer;
  user-select: none;
  &.open {
    padding-bottom: 0;
    .select__list {
      display: block;
    }
    .select__selected {
      border-bottom: 1px solid $pink100;
      &:after {
        transform: rotate(180deg);
      }
    }
    .select__title {
      opacity: 1;
    }
  }
  &__title {
    @include font($font13, normal, 1.54, Roboto);
    position: absolute;
    left: 0;
    top: -16px;
    color: $black100;
    opacity: 0;
    transition: $transition;
  }
  &__selected {
    position: relative;
    @include offset(100%, 42px);
    @include flex();
    justify-content: space-between;
    align-items: center;
    @include font($font16, 300, 1.5, Roboto);
    color: $black60;
    border: none;
    border-bottom: 1px solid $pink5;
    padding: 0 8px;
    text-overflow: ellipsis;
    transition: $transition;
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 8px;
      right: 8px;
      border-bottom: 12px;
      @include offset(24px, 24px);
      background: url("../img/icons/dropdown-24.svg") no-repeat  50% 50%;
      background-size: auto 100%;
    }
  }
  &__list {
    @include offset(100%);
    background-color: $white;
    display: none;
    border-radius: 4px;
    box-shadow: 0 0 8px 0 $buttonShadow-secondary;
    padding: 8px;
    margin-top: 8px;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 20;
    transition: $transition;
    &-item {
      @include offset(100%, 48px);
      @include font($font16, normal, 1.5, Roboto);
      color: $black100;
      border-radius: 4px;
      padding: 12px 16px;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        color: $white;
        background-color: $pink90;
      }
    }
  }
}