.buttons {
  &__primary,
  &__secondary {
    @include offset(260px, 56px);
    @include flex();
    justify-content: center;
    align-items: center;
    @include font($font16, 500, 1.5, Roboto);
    color: $black100;
    cursor: pointer;
    transition: $transition;
    border-radius: 4px;
    text-decoration: none;
  }

  &__primary {
    background-color: $pink90;
    margin-bottom: 16px;
    color: $white;
    &:hover {
      box-shadow: 0 2px 12px 0 $buttonShadow-primary;
    }
    &:active {
      box-shadow: inset 0 2px 4px 0 $buttonShadow-primaryInset;
    }
  }

  &__secondary {
    background-color: $white;
    border: 1px solid $black10;
    &:hover {
      border: 1px solid $pink25;
      box-shadow: 0 2px 10px 0 $buttonShadow-secondary;
      color: $pink100;
    }
    &:active {
      border: solid 1px $pink25;
      box-shadow: 0 1px 2px 0 $buttonShadow-secondary;
      color: $pink100;
    }
  }
}

