.buttons-social {
  @include offset(48px, 48px);
  @include flex();
  justify-content: center;
  align-items: center;
  margin-right: 4px;
  transition: $transition;
  border-radius: 4px;
  svg {
    @include offset(24px, 24px);
    fill: $white;
  }
  &:hover {
    background-color: $iconSocial-hover;
  }
  &:active {
    background-color: $iconSocial-pressed;;
  }
}