.buttons-app {
  @include offset(162px, 56px);
  @include flex();
  justify-content: center;
  align-items: center;
  background-color: $white;
  border: 1px solid $black10;
  cursor: pointer;
  transition: $transition;
  border-radius: 4px;
  svg {
    @include offset(100%);
    fill: $black100;
    transition: $transition;
  }
  &:hover {
    border: 1px solid $pink25;
    box-shadow: 0 2px 10px 0 $buttonShadow-secondary;
    svg {
      fill: $pink100;
    }
  }
  &:active {
    border: 1px solid $pink25;
    box-shadow: 0 1px 2px 0 $buttonShadow-secondary;
    svg {
      fill: $pink100;
    }
  }
}