@media #{$desktop} {
  .content-product {
    @include offset($width-desktop);
    padding-bottom: 128px;
    &__product {
      @include offset(240px);
      margin-right: 48px;
      &:last-child {
        margin-right: 0;
      }
    }
    &__caption {
      margin-bottom: 0;
    }
  }
}