@media #{$desktop} {
  .content-app {
    @include offset($width-desktop, 480px);
    &__shadow {
      @include offset(958px, 20px);
    }
    &__wrap {
      padding: 88px 96px;
    }
    &__img {
      @include offset(456px);
      bottom: 90px;
      left: 612px;
    }
    &__title {
      @include offset(566px);
    }
    &__buttons-wrap {
      @include offset(348px);
    }
  }
}
