@media #{$desktop} {
  .content-comments {
    @include offset($width-desktop);
    padding: 128px 0 208px;
    &__quote {
      @include font(33px, 300, 1.33, Manrope);
      padding-right: 56px;
      margin-bottom: 48px;
      &-wrap {
        padding: 96px 0 0 96px;
      }
    }
  }

  .slider {
    &__points {
      bottom: 20px;
    }
    &__point {
      @include offset(12px, 12px);
      border-radius: 6px;
      margin: 6px;
    }
  }
}