@media #{$desktop} {
  .content-title {
    @include offset($width-desktop, 800px);
    &__links {
      margin: 56px 0 326px;
    }
    &__topic {
      @include offset(700px);
    }
    &__img {
      @include offset(650px);
      left: 440px;
      bottom: 126px;
    }
  }
}

