@media #{$desktop} {
  .content-application {
    @include offset($width-desktop);
    &__title {
      margin-bottom: 72px;
    }
    &__application-wrap {
      @include offset(100%);
    }
    &__tariff {
      @include offset(360px, 580px);
      margin-right: 120px;
      padding: 48px 48px 56px;
      &-caption {
        margin: 8px 0 48px;
      }
    }
    &__form-wrap {
      @include offset(552px);
    }
  }
}