@media #{$desktop} {
  .footer {

    &__wrap {
      @include offset($width-desktop);
    }
    &__links-wrap {
      @include flex();
      ul {
        margin-right: 120px;
      }
    }
    &__logo-wrap {
      @include offset(30%);
    }
  }
}
