@media #{$desktop} {
  h1 {
    @include font(57px, 500, 1.26, Manrope);
  }

  h4 {
    @include font(33px, 500, 1.33, Manrope);
    color: $black100;
  }

  h5 {
    @include font(28px, normal, 1.43, Manrope);
    color: $black100;
  }
}