@media #{$laptop} {
  .content-title {
    @include offset($width-lap-tab, 720px);
    &__links {
      margin: 56px 0 322px;
    }
    &__topic {
      @include offset(600px);
    }
    &__img {
      @include offset(574px);
      left: 272px;
      bottom: 80px;
    }
  }
}
