@media #{$laptop} {
  .content-application {
    @include offset($width-lap-tab);
    &__title {
      margin-bottom: 64px;
    }
    &__application-wrap {
      @include offset(100%);
    }
    &__tariff {
      @include offset(320px, 508px);
      margin-right: 64px;
      padding: 32px 32px 40px;
      &-caption {
        margin: 8px 0 32px;
      }
    }
    &__form-wrap {
      @include offset(360px);
    }
  }
}
