@media #{$laptop} {
  .content-product {
    @include offset($width-lap-tab);
    padding-bottom: calc(104px - 80px); /* С учетом отступа caption*/
    &__product {
      @include offset(312px);
      margin-right: 72px;
      &:nth-child(even) {
        margin-right: 0;
      }
    }
    &__caption {
      margin-bottom: 80px;
    }
  }
}