@media #{$laptop} {
  .content-comments {
    @include offset($width-lap-tab);
    padding: 104px 0 208px;
    &__quote {
      @include font(28px, 300, 1.29, Manrope);
      padding-right: 56px;
      margin-bottom: 40px;
      &-wrap {
        padding: 80px 0 0 56px;
      }
    }
  }

  .slider {
    &__points {
      bottom: 24px;
    }
  }
}