@media #{$laptop} {
  .content-app {
    @include offset($width-lap-tab, 392px);
    &__shadow {
      @include offset(632px, 20px);
    }
    &__wrap {
      padding: 64px 56px;
    }
    &__img {
      @include offset(382px);
      bottom: 66px;
      left: 388px;
    }
    &__title {
      @include offset(296px);
    }
    &__buttons-wrap {
      @include offset(332px);
    }
  }
}