.content-title {
  position: relative;
  &__wrap {
    @include flex(column);
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    left: 0;
    top: 0;
    z-index: 10;
    padding: 0;
  }
  &__links {
    &-hide {
      display: inline;
    }
    &-column {
      @include flex();
    }
    &-row {
      @include flex();
    }
    &-wrap {
      @include flex();
    }
  }
  &__link {
    @include font($font16, 500, 1.5, Roboto);
    color: $pink100;
    text-decoration: none;
    margin: 0 32px 14px 0;
    transition: $transition;
    border-bottom: 2px solid transparent;
    &:hover {
      border-bottom: 2px solid $pink100;
    }
  }
  &__topic {
    margin-bottom: 32px;
  }
  &__text {
    @include font($font16, 300, 1.5, Roboto);
    color: $black100;
  }
  &__img {
    transform: rotate(24deg);
    position: absolute;
    z-index: 5;
  }
  &__touch {
    @include offset(24px, 24px);
    display: none;
    &-point {
      @include offset(4px, 4px);
      background-color: $pink100;
      margin: 2px;
      transition: all 0.1s ease;
    }
    &-line {
      @include offset(7px, 4px);
      margin: 0;
    }
  }
  &:after {
    @extend .background-color;
    background-color: $grey95;
  }
}