.content-info {
  @include flex(column);
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  h5 {
    z-index: 5;
  }
  &:after {
    @extend .background-color;
    background-color: $white;
  }
}