.content-product {
  position: relative;
  &__wrap {
    @include offset(100%);
    @include flex(row, wrap);
    justify-content: flex-start;
    align-items: flex-start;
  }
  &__product {
    z-index: 5;
    h6 {
      @include offset(100%, 60px);
    }
  }
  &__img {
    @include offset(150px, 150px);
    margin-bottom: 24px;
    &.left {
      margin-left: 14px;
    }
  }
  &__caption {
    @include font($font13, normal, 1.54, Roboto);
    color: $black60;
  }
  &:after {
    @extend .background-color;
    background-color: $white;
  }
}