.content-application {
  @include flex(column);
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  padding: 0;
  &__title {
    @include offset(100%);
    @include flex(column);
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    &-caption {
      @include font($font16, 300, 1.5, Roboto);
      color: $black60;
      margin-top: 24px;
    }
  }
  &__application-wrap {
    @include offset(100%);
    @include flex();
    justify-content: flex-start;
    align-items: flex-start;
  }
  &__tariff {
    @include flex(column);
    justify-content: flex-start;
    align-items: flex-start;
    background-color: $grey95;
    border-radius: 4px;
    &-caption {
      @include font($font13, normal, 1.54, Roboto);
      color: $black60;
    }
    &-img {
      @include offset(104px);
      display: block;
      fill: $pink100;
      margin-bottom: 24px;
    }
    .buttons__secondary {
      @include offset(100%, 56px);
      margin-top: 28px;
    }
  }
  &__list {
    @include flex();
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    &-wrap {
      @include offset(100%);
      @include flex(column);
      justify-content: flex-start;
      align-items: flex-start;
    }
    &-img {
      @include offset(24px);
      margin-right: 8px;
      fill: $pink100;
    }
  }
  &__form-wrap {
    @include flex(column);
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 0;
    padding: 0;
    .buttons__primary {
      @include offset(201px, 56px);
      margin: 28px 0 104px;
    }

  }
  &__title,
  &__application-wrap {
    z-index: 5;
  }
  &:after {
    @extend .background-color;
    background-color: $white;
  }
}
