.content-options {
  @include flex(column);
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  &__wrap {
    @include offset(100%);
    @include flex(row, wrap);
    justify-content: space-between;
    align-items: flex-start;
  }
  a {
    text-decoration: none;
  }
  &__block {
    @include offset(360px, 264px);
    padding: 32px;
    border-radius: 4px;
    background-color: $white;
    border: 1px solid $black10;
    position: relative;
    cursor: pointer;
    margin-bottom: 24px;
    transition: $transition;
    &:hover {
      box-shadow: 0 0 24px 0 $buttonShadow-primaryInset;
      border-bottom-color: $pink100;
      border-width: 1px 1px 4px 1px;
    }
  }
  &__img {
    @include offset(100px);
    position: absolute;
    top: 128px;
    right: 32px;
  }
  h5,
  &__wrap {
    z-index: 5;
  }
  &:after {
    @extend .background-color;
    background-color: $white;
  }
}