.content-comments {
  @include flex(column);
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  &__quote {
    &-wrap {
      @include offset(100%, 100%);
      @include flex(column);
      justify-content: space-between;
      align-items: flex-start;
    }
  }
  &__aut {
    @include offset(100%);
    @include flex();
    justify-content: flex-start;
    align-items: flex-start;
  }
  &__img {
    @include offset(48px, 48px);
    border-radius: 50%;
    margin-right: 24px;
  }
  &__name {
    @include offset(calc(100% - 72px));
    @include flex(column);
    justify-content: flex-start;
    align-items: flex-start;
  }
  &__caption {
    @include font($font13, normal, 1.54, Roboto);
    color: $black100;
    margin-top: 4px;
  }
  &__quote-wrap,
  h5 {
    z-index: 5;
  }
  &:after {
    @extend .background-color;
    background-color: $grey95;
  }
}

.slider {
  @include offset(100%, 312px);
  position: relative;
  z-index: 5;
  &__points {
    @include flex();
    position: absolute;
    right: 96px;
  }
  &__point {
    @include offset(8px, 8px);
    border-radius: 4px;
    margin: 4px;
    background-color: $black10;
    cursor: pointer;
    &.active {
      background-color: $black100;
    }
  }
}