.content-app {
  @include flex(column);
  justify-content: flex-start;
  align-items: center;
  position: relative;
  &__shadow {
    box-shadow: 0 0 50px 20px $buttonShadow-primary;
    position: absolute;
    top: 68%;
    left: 0;
    right: 0;
    z-index: 5;
    margin: auto;
  }
  &__wrap {
    @include offset(100%, 100%);
    @include flex(column);
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 4px;
    background-color: $white;
    box-shadow: 0 0 8px 0 $buttonShadow-primary;
    position: absolute;
    top: -76px;
    z-index: 10;
  }
  &__img {
    transform: rotate(-13deg);
    position: absolute;
  }
  &__title {
    @include flex(column);
    justify-content: flex-start;
    align-items: flex-start;
    p {
      @include font($font16, 300, 1.5, Roboto);
      color: $black60;
      margin: 16px 0 48px;
    }
  }
  &__buttons-wrap {
    @include flex();
    justify-content: space-between;
    align-items: flex-start;
    z-index: 5;
  }
  &:after {
    @extend .background-color;
    background-color: $white;
  }
}