.error {
  @include offset(100%, 100vh);
  @include flex(column);
  justify-content: center;
  align-items: center;
  &__text {
    @include font(18px, 600, 1.5, Manrope);
    color: $pink100;
  }
  &__img {
    @include offset(260px);
  }
}