.footer {
  &__wrap {
    @include flex(column);
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    padding: 0;
    &-links {
      @include offset(100%);
      @include flex();
      z-index: 5;
      margin: 88px 0 24px;
    }
    &:after {
      content: "";
      @include offset(100vw, 100%);
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: 0;
      background-color: $black100;
    }
  }
  &__links-wrap {
    @include flex(column);
    justify-content: space-between;
    align-items: flex-start;
    ul {
      margin-bottom: 44px;
      li {
        margin-bottom: 24px;
        padding-left: 12px;
        a {
          @include font($font16, normal, 1.5, Roboto);
          text-decoration: none;
          color: $black10;
          transition: $transition;
          &:hover {
            color: $pink25;
          }
        }
      }
      &:first-child {
        margin-right: 55px;
      }
    }
  }
  &__links {
    @include flex();
    justify-content: space-between;
    align-items: flex-start;
    &-social {
      @include flex();
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
  &__logo-wrap {
    @include flex(column);
    justify-content: space-between;
    align-items: flex-start;
  }
  &__logotype {
    @include offset(180px);
    fill: $white;
  }
  &__license {
    @include font($font13, 300, 1.54, Roboto);
    text-transform: uppercase;
    color: $black10;
  }
}