.log {
  @include flex(column);
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 90;
  background-color: $white;
  box-shadow: 0 2px 4px 0 $buttonShadow-primaryInset;
  &__wrap {
    @include offset(100%);
    padding: 0;
    &-button {
      @include flex(column);
      :first-child {
        margin-right: 0;
      }
    }
  }
  &__logotype {
    @include offset(180px);
    fill: $pink100;
    margin-bottom: 0;
  }
  &__text {
    @include font($font16, 300, 1.5, Roboto);
    color: $black60;
    margin: 24px 0 48px;
  }
  &__caption {
    @include offset(260px);
    @include flex(column);
    justify-content: flex-start;
    align-items: center;
    p, a {
      @include font($font13, 300, 1.54, Roboto);
    }
    p {
      color: $black60;
    }
    a {
      color: $pink100;
    }
  }
}

.come {
}