<div class="content-app">
    <div class="content-app__wrap">
        <div class="content-app__title">
            <h4>То самое мобильное приложение</h4>
            <p>Создано специльано для тебя!</p>
        </div>
        <div class="content-app__buttons-wrap">
            <a class="buttons-app" href="error.html">
                <svg viewBox="0 0 160 33">
                    <use xlink:href="#google-play"></use>
                </svg>
            </a>
            <a class="buttons-app" href="error.html">
                <svg viewBox="0 0 149 33">
                    <use xlink:href="#app-store"></use>
                </svg>
            </a>
        </div>
        <svg class="content-app__img" viewBox="0 0 575.117 575.116">
            <use xlink:href="#phone"></use>
        </svg>

    </div>
    <div class="content-app__shadow"></div>
</div>