<div class="content-product">
    <div class="content-product__wrap">
        <div class="content-product__product">
            <svg class="content-product__img" viewBox="-93 0 937 937.5">
                <use xlink:href="#mobile-app"></use>
            </svg>
            <h6>Возьми смартфон и войди в то самое приложение</h6>
            <p class="content-product__caption">Мегофункциональное и удобное приложение позволит даже макаке
                купить себе
                банан!</p>
        </div>
        <div class="content-product__product">
            <svg class="content-product__img" viewBox="0 0 489 489">
                <use xlink:href="#shopping-bag"></use>
            </svg>
            <h6>Выбери понравившийся товар</h6>
            <p class="content-product__caption">Количество товаров ограничено лишь толщиной вашего кошелька.</p>
        </div>
        <div class="content-product__product">
            <svg class="content-product__img left" viewBox="0 0 512 512">
                <use xlink:href="#money"></use>
            </svg>
            <h6>Форма оплаты</h6>
            <p class="content-product__caption">Ты можешь прикрепить карту к своему профилю и не париться или
                оплатить
                наличными. Но если ты тот ещё транжира и твой кошелёк тоньше голодающих детей Африки, то оформи
                кредит
                или рассрочку через наш тот самый займ!</p>
        </div>
        <div class="content-product__product">
            <svg class="content-product__img" viewBox="-58 0 511 512">
                <use xlink:href="#check"></use>
            </svg>
            <h6>Это же чек!</h6>
            <p class="content-product__caption">Получите и распишитесь! Товар доставлен, а ты просто красавчик!</p>
        </div>
    </div>
</div>