<div class="content-application">
    <div class="content-application__title">
        <h5>Заявка на подключение того самого займа</h5>
        <p class="content-application__title-caption">
            Для подключения требуется отправить только запрос!<br>
            Наши специалисты свяжутся с тобой в течении часа. Даже ночью!
        </p>
    </div>
    <div class="content-application__application-wrap">
        <div class="content-application__tariff">
            <svg class="content-application__tariff-img" viewBox="0 0 512 512">
                <use xlink:href="#wallet"></use>
            </svg>
            <h5>Тот самый займ</h5>
            <p class="content-application__tariff-caption">Оформи в 2 клика!</p>
            <div class="content-application__list-wrap">
                <div class="content-application__list">
                    <svg class="content-application__list-img" viewBox="0 0 24 24">
                        <use xlink:href="#item-24"></use>
                    </svg>
                    <p>Приятные тарифы</p>
                </div>
                <div class="content-application__list">
                    <svg class="content-application__list-img" viewBox="0 0 24 24">
                        <use xlink:href="#item-24"></use>
                    </svg>
                    <p>Низкий процент</p>
                </div>
                <div class="content-application__list">
                    <svg class="content-application__list-img" viewBox="0 0 24 24">
                        <use xlink:href="#item-24"></use>
                    </svg>
                    <p>Минимум документов</p>
                </div>
            </div>
            <a class="buttons__secondary" href="error.html">
                Выбрать тариф
            </a>
        </div>

        <div class="content-application__form-wrap">
            <form class="form" method="post" name="form">
                <div class="form__form-group">
                    <input type="text" name="name" placeholder="Имя" required id="name"/>
                    <label for="name">Имя</label>
                </div>
                <div class="form__form-group">
                    <input type="text" name="second name"
                           placeholder="Фамилия" required id="sname"/>
                    <label for="sname">Фамилия</label>
                </div>
                <div class="form__form-group">
                    <input type="text" name="middle name"
                           placeholder="Отчество" required id="mname"/>
                    <label for="mname">Отчество</label>
                </div>
                <div class="form__form-group">
                    <input type="text" name="brand name"
                           placeholder="Название компании или бренда" id="bname"/>
                    <label for="bname">Деятельность</label>
                </div>
                <div class="form__form-group">
                    <input type="tel" name="tel"
                           placeholder="Телефон для связи" required id="tel"/>
                    <label for="tel">Телефон для связи</label>
                </div>
                <div class="form__form-group">
                    <input type="email" name="email" placeholder="Email"
                           required id="email"/>
                    <label for="email">Email</label>
                </div>
                <div class="select">
                    <div class="select__title">Тип займа</div>
                    <div class="select__selected">Тип займа</div>
                    <div class="select__list">
                        <div class="select__list-item">Питание</div>
                        <div class="select__list-item">Одежда</div>
                        <div class="select__list-item">Медицина</div>
                        <div class="select__list-item">Транспорт</div>
                        <div class="select__list-item">Прочее</div>
                    </div>
                </div>
            </form>
            <a class="buttons__primary" href="error.html">
                Отправить заявку
            </a>
        </div>

    </div>
</div>