<div class="content-info">
    <h5>
        Ужасная погода не позволяет вашей тепличной попке выйти из дома, а в холодильнике уже мышь закидывает
        верёвку?<br>
        Не беда, закажи через наше приложение и получи покупку на дом в кратчайшие сроки!
    </h5>
</div>