<div class="content-title">
    <svg class="content-title__img" viewBox="0 0 512 512">
        <use xlink:href="#bag"></use>
    </svg>
    <div class="content-title__wrap">
        <div class="content-title__links">
            <div class="content-title__links-wrap">
                <div class="content-title__links-row">
                    <a class="content-title__link" href="error.html">О приложении</a>
                    <div class="content-title__touch">
                        <div class="content-title__touch-point"></div>
                        <div class="content-title__touch-point"></div>
                        <div class="content-title__touch-point"></div>
                    </div>
                </div>
                <div class="content-title__links-hide">
                    <div class="content-title__links-column">
                        <a class="content-title__link" href="error.html">Как пользоваться</a>
                        <a class="content-title__link" href="error.html">Тарифы</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-title__topic">
            <h1>То самое приложение для покупателей</h1>
        </div>
        <div class="content-title__text">
            От слонов до пирогов! Удобные покупки лёжа на диване с доставкой на дом!
        </div>
    </div>
</div>