<div class="content-options">
    <h5>Варианты работы</h5>
    <div class="content-options__wrap">
        <a href="#">
            <a class="content-options__block" href="error.html">
                <h6>Мобильное приложение</h6>
                <svg class="content-options__img" viewBox="0 0 480 480">
                    <use xlink:href="#mob"></use>
                </svg>
            </a>
        </a>
        <a href="#">
            <a class="content-options__block" href="error.html">
                <h6>Web-сайт</h6>
                <svg class="content-options__img" viewBox="0 0 512 512">
                    <use xlink:href="#web"></use>
                </svg>
            </a>
        </a>
        <a href="#">
            <a class="content-options__block" href="error.html">
                <h6>Специально для тебя!</h6>
                <svg class="content-options__img" viewBox="0 0 295.996 295.996">
                    <use xlink:href="#happy"></use>
                </svg>
            </a>
        </a>
    </div>
</div>