<div class="content-comments">
    <h5>Отзывы наших пользователей</h5>

    <div class="slider">

        <div class="slider__points">
        </div>

        <div class="content-comments__quote-wrap">
            <p class="content-comments__quote">
                Это топовое прилоежение века! Как-то раз я ни где не мог найти пластырь с котиками,
                но в том самом приложении нашёл! И привезли мне его за 20 минут!
            </p>
            <div class="content-comments__aut">
                <img class="content-comments__img" src="../img/avatars/ava3.png" alt="avatar"/>
                <div class="content-comments__name">
                    <h6>Артур Великолепный</h6>
                    <p class="content-comments__caption">Региональный директор ООО "Перюшка с котлеткой"</p>
                </div>
            </div>
        </div>

    </div>
</div>