<footer class="footer">
    <div class="footer__wrap">
        <div class="footer__wrap-links">

            <div class="footer__logo-wrap">
                <svg class="footer__logotype" viewBox="0 0 1964 480">
                    <use xlink:href="#logotype"></use>
                </svg>
                <p class="footer__license">© «То самое» - забавы ради!</p>
            </div>

            <div class="footer__links-wrap">
                <div class="footer__links">
                    <ul>
                        <li>
                            <a href="error.html">О приложении</a>
                        </li>
                        <li>
                            <a href="error.html">Как пользоваться</a>
                        </li>
                        <li>
                            <a href="error.html">Тарифы</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="error.html">О займе</a>
                        </li>
                        <li>
                            <a href="error.html">Парнёрам</a>
                        </li>
                        <li>
                            <a href="error.html">Контакты</a>
                        </li>
                    </ul>
                </div>

                <div class="footer__links-social">
                    <a class="buttons-social" href="error.html">
                        <svg viewBox="0 0 24 24">
                            <use xlink:href="#social-ok-24"></use>
                        </svg>
                    </a>
                    <a class="buttons-social" href="error.html">
                        <svg viewBox="0 0 24 24">
                            <use xlink:href="#social-vk-24"></use>
                        </svg>
                    </a>
                    <a class="buttons-social" href="error.html">
                        <svg viewBox="0 0 24 24">
                            <use xlink:href="#social-twitter-24"></use>
                        </svg>
                    </a>
                    <a class="buttons-social" href="error.html">
                        <svg viewBox="0 0 24 24">
                            <use xlink:href="#social-youtube-24"></use>
                        </svg>
                    </a>
                    <a class="buttons-social" href="error.html">
                        <svg viewBox="0 0 24 24">
                            <use xlink:href="#social-fb-24"></use>
                        </svg>
                    </a>
                    <a class="buttons-social" href="error.html">
                        <svg viewBox="0 0 24 24">
                            <use xlink:href="#social-instagram-24"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
</footer>