<div class="log">
    <div class="log__wrap">
        <svg class="log__logotype" viewBox="0 0 1964 480">
            <use xlink:href="#logotype"></use>
        </svg>
        <h4>
            Присоединяйся
        </h4>
        <p class="log__text">
            Зарегистрируйся и экономь своё драгоценное время!
        </p>
        <div class="log__wrap-button">
            <a class="buttons__primary" href="error.html">
                Зарегистрироваться
            </a>
            <a class="buttons__secondary come" href="error.html">
                Войти
            </a>
        </div>
        <div class="log__caption">
            <p>Согласие на передачу и обработку&nbsp;</p>
            <a href="error.html">персональных данных</a>
        </div>
    </div>
</div>