//Neutrals colors
$black100: #252525;
$black60: #999;
$black10: #ddd;
$white: #ffffff;
$grey95: #f4f4f4;

//Primary colors
$pink100: #e91e63;
$pink90: #ea4c88;
$pink25: #f28cb3;
$pink5: #fad1e1;

//Buttons
$buttonShadow-primary: rgba(33, 36, 41, 0.2);
$buttonShadow-primaryInset: rgba(33, 36, 41, 0.3);
$buttonShadow-secondary: rgba(33, 36, 41, 0.4);

//Social links icon
$iconSocial-hover: rgba(255, 255, 255, 0.1);
$iconSocial-pressed: rgba(255, 255, 255, 0.2);