@font-face {
  font-family: "Manrope";
  src: url(../fonts/manrope/light.ttf), /* All browsers */
  url("../fonts/manrope/light.otf") format("truetype"); /* Android, iOS */
  font-style: normal;
  font-weight: 300;}

@font-face {
  font-family: "Manrope";
  src: url(../fonts/manrope/medium.ttf), /* All browsers */
  url("../fonts/manrope/medium.otf") format("truetype"); /* Android, iOS */
  font-style: normal;
  font-weight: 500; }

@font-face {
  font-family: "Manrope";
  src: url(../fonts/manrope/semibold.ttf), /* All browsers */
  url("../fonts/manrope/semibold.otf") format("truetype"); /* Android, iOS */
  font-style: normal;
  font-weight: 600;}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/roboto/Roboto-Light.ttf); /* All browsers */
  font-style: normal;
  font-weight: 300;}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/roboto/Roboto-Regular.ttf); /* All browsers */
  font-style: normal;
  font-weight: 400;}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/roboto/Roboto-Medium.ttf); /* All browsers */
  font-style: normal;
  font-weight: 500;}