@media #{$tablet} {
  .content-app {
    @include offset($width-lap-tab, 360px);
    &__shadow {
      @include offset(632px, 20px);
    }
    &__wrap {
      padding: 64px 48px;
    }
    &__img {
      @include offset(340px);
      bottom: 10px;
      left: 382px;
    }
    &__title {
      @include offset(296px);
    }
    &__buttons-wrap {
      @include offset(332px);
    }
  }
}