@media #{$tablet}  {
  .content-application {
    @include offset($width-lap-tab);
    &__title {
      margin-bottom: 48px;
      padding: 0 48px;
    }
    &__application-wrap {
      @include offset(100%);
      @include flex(column);
    }
    &__tariff {
      @include offset(100%, 200px);
      justify-content: space-between;
      position: relative;
      margin-right: 0;
      padding: 48px;
      &-caption {
        display: none;
      }
      &-img {
        position: absolute;
        top: 48px;
        right: 48px;
        margin-bottom: 0;
      }
      .buttons__secondary {
        @include offset(200px, 56px);
      }
    }
    &__list {
      &-wrap {
        @include offset(200px);
        position: absolute;
        top: 48px;
        right: 200px;
      }
    }
    &__form-wrap {
      @include offset(644px);
      margin-top: 48px;
      padding: 0 48px;
      .buttons__primary {
        margin: 48px 0 88px;
      }
    }
  }
}
