@media #{$tablet} {
  .content-comments {
    @include offset($width-lap-tab);
    padding: 88px 48px 160px;
    &__quote {
      @include font(23px, 300, 1.39, Manrope);
      padding-right: 56px;
      margin-bottom: 0;
      &-wrap {
        padding: 64px 0 0 48px;
      }
    }
  }

  .slider {
    @include offset(100%, 276px);
    &__points {
      bottom: 24px;
      right: 48px;
    }
  }
}