@media #{$tablet} {
  .content-product {
    @include offset($width-lap-tab);
    padding: 0 48px calc(88px - 48px); /* Нижний отсуп 104px, с учетом отступа блока описания*/
    &__product {
      @include offset(264px);
      margin-right: 72px;
      h6 {
        @include offset(100%,50px);
      }
      &:nth-child(even) {
        margin-right: 0;
      }
    }
    &__caption {
      margin: 8px 0 48px; /* Нижний отступ описания*/
    }
  }
}