@media #{$tablet} {
  .content-title {
    @include offset($width-lap-tab, 560px);
    &__wrap {
      padding: 0 0 0 48px;
    }
    &__links {
      margin: 48px 0 220px;
    }
    &__topic {
      @include offset(500px);
      margin-bottom: 32px;
    }
    &__img {
      @include offset(390px);
      left: 300px;
      bottom: 98px;
    }
  }
}