@media #{$tablet} {
  .footer {
    &__wrap {
      @include offset($width-lap-tab);
      padding: 0 48px;
      &-links {
        margin: 64px 0 24px;
      }
    }
    &__logo-wrap {
      @include offset(50%);
    }
  }
}