@media #{$tablet} {
  h1 {
    @include font(40px, 500, 1.2, Manrope);
    color: $black100;
  }

  h4 {
    @include font(23px, 500, 1.39, Manrope);
    color: $black100;
  }

  h5 {
    @include font(19px, normal, 1.47, Manrope);
    color: $black100;
  }
}