@media #{$tablet} {
  .log {
    @include offset(100%, 420px);
    align-items: center;
    position: relative;
    top: auto;
    right: auto;
    padding: 0;
    &__wrap {
      @include offset(744px);
      padding: 48px 48px;
      &-button {
        @include flex();
        :first-child {
          margin-right: 16px;
        }
      }
    }
    &__logotype {
      margin-bottom: 48px;
    }
    &__text {
      margin: 16px 0 40px;
    }
    &__caption {
      @include offset(100%);
      @include flex();
      align-items: flex-start;
    }
  }

  .come {
    margin-bottom: 40px;
  }
}