html, body {
  @include offset(100%);
  min-height: 100vh;
  @include flex(column);
}

.wrapper {
  @include offset(100%, 100%);
  @include flex(column);
  justify-content: flex-start;
  align-items: flex-start;
}

.content,
.footer {
  @include flex(column);
  justify-content: flex-start;
  align-items: center;
}

.footer {
  z-index: 0;
}