h1 {
  @include font(48px, 500, 1.25, Manrope);
  color: $black100;
}

h4 {
  @include font(28px, 500, 1.29, Manrope);
  color: $black100;
}

h5 {
  @include font(23px, normal, 1.39, Manrope);
  color: $black100;
}

h6 {
  @include font(16px, 500, 1.5, Roboto);
  color: $black100;
}