@media #{$mobile} {
  .content-application {
    @include offset($width-mobile);
    padding: 0 28px 48px;
    &__title {
      margin-bottom: 0;
      padding: 0 0 32px;
    }
    &__tariff {
      @include offset(100%, auto);
      align-items: center;
      margin-right: 0;
      padding: 32px 32px 40px;
      &-caption {
        display: none;
      }
      &-img {
        display: none;
      }
      .buttons__secondary {
        @include offset(165px, 48px);
        margin-top: 40px;
      }
    }
    &__list {
      &-wrap {
        display: none;
      }
    }
    &__form-wrap {
      @include offset(100%);
      margin-top: 40px;
      padding: 0;
      .buttons__primary {
        margin: 48px 0 0;
      }
    }
  }
}
