@media #{$mobile} {
  .content-product {
    @include offset($width-mobile);
    padding: 0 28px 0;
    &__wrap {
      @include offset(100%);
    }
    &__product {
      @include offset(100%);
      margin-right: 0;
      h6 {
        @include offset(100%, 50px);
      }
    }
    &__img {
      @include offset(150px, 150px);
      margin-bottom: 24px;
      &.left {
        margin-left: 14px;
      }
    }
    &__caption {
      @include font(13px, normal, 1.54, Roboto);
      color: $black60;
      margin: 0 0 50px;
    }
  }
}