@media #{$mobile} {
  .content-comments {
    @include offset($width-mobile);
    padding: 48px 28px 80px;
    &__quote {
      @include font(23px, 300, 1.39, Manrope);
      padding-right: 0;
      margin-bottom: 0;
      &-wrap {
        @include offset(100%, 362px);
        padding: 40px 0 0;
      }
    }
    &__img {
      display: none;
    }
    &__name {
      @include offset(100%);
    }
  }

  .slider {
    @include offset(100%, auto);
    padding-bottom: 80px;
    &__points {
      bottom: 48px;
      right: 50%;
      transform: translate(50%, 0);
    }
  }
}