@media #{$mobile} {
  .content-options {
    @include offset($width-mobile);
    padding: 0 28px 48px;
    h5 {
      padding-left: 0;
    }
    &__wrap {
      padding-top: 32px;
    }
    a {
      @include offset(100%);
      display: block;
    }
    &__block {
      @include offset(100%, 200px);
      padding: 24px;
    }
    &__img {
      top: 74px;
      right: 24px;
    }
  }
}