@media #{$mobile} {
  .content-app {
    @include offset($width-mobile, 366px);
    &__shadow {
      @include offset($width-mobile, 20px);
    }
    &__wrap {
      padding: 48px 28px;
      border-radius: 0;
    }
    &__img {
      display: none;
    }
    &__title {
      @include offset(100%);
      @include flex(column);
      justify-content: flex-start;
      align-items: center;
      h4 {
        text-align: center;
      }
    }
    &__buttons-wrap {
      @include offset(100%, 120px);
      @include flex(column);
      justify-content: space-between;
      align-items: center;
    }
  }
}