@media #{$mobile} {
  .content-title {
    @include offset($width-mobile, auto);
    overflow: hidden;
    &__wrap {
      padding: 0 28px 48px;
    }
    &__links {
      @include flex(column);
      margin: 32px 0 160px;
      &-hide {
        display: none;
        opacity: 0;
      }
      &-column {
        @include flex(column);
      }
      &-wrap {
        @include flex(column);
        position: absolute;
      }
    }
    &__topic {
      @include offset(100%);
      margin-bottom: 24px;
    }
    &__img {
      @include offset(270px);
      left: 38%;
      bottom: 18%;
    }
    &__touch {
      @include flex();
      justify-content: center;
      align-items: center;
    }
  }
}