@media #{$mobile} {
  .footer {
    &__wrap {
      @include offset($width-mobile);
      padding: 48px 28px;
      &-links {
        @include flex(column);
        margin: 0;
      }
    }
    &__links-wrap {
      margin: 48px 0;
      ul {
        margin-bottom: 0;
        li {
          margin-bottom: 24px;
          padding-left: 0;
        }
        &:first-child {
          margin-right: 0;
        }
      }
    }
    &__links {
      @include flex(column);
      &-social {
        @include offset(224px);
        @include flex(row, wrap);
      }
    }
    &__logo-wrap {
      @include offset(100%);
    }
    &__license {
      position: absolute;
      left: 28px;
      bottom: 48px;
    }
  }
}