@media #{$mobile} {
  .log {
    @include offset($width-mobile, auto);
    align-items: center;
    position: relative;
    top: auto;
    right: auto;
    padding: 0;
    &__wrap {
      @include offset(100%);
      padding: 40px 28px 32px;
      &-button {
        @include flex(row, wrap);
        .buttons__primary {
          @include offset(205px, 48px);
        }
        .buttons__secondary {
          @include offset(94px, 48px);
        }
        :first-child {
          margin-right: 16px;
        }
      }
    }
    &__logotype {
      margin-bottom: 32px;
    }
    &__text {
      margin: 16px 0 40px;
    }
    &__caption {
      @include offset(100%);
      @include flex(row, wrap);
      align-items: flex-start;
    }
  }

  .come {
    margin-bottom: 24px;
  }
}